[2015-04-21 00:52] jackiekazil commented on #615
@jgrevich no worries. I saw the trail! Thank you for scrubbing in on this. :-)

[2015-04-21 21:22] esgoodman commented on #604
- [ ] post messages

[2015-04-22 17:12] jackiekazil commented on #616
This is done.

[2015-04-22 17:12] #616 closed

[2015-04-23 15:43] adelevie opened #625 "Migrate staging to 18f.gov domain"
Within a matter of weeks, we will need to stop using the 18f.us domain. To give our staging users the maximum amount of time to update their applications to the new URL (myusa-staging.18f.gov), we should point both domains to our staging ELB.

This ticket is a dependency for the MyUSA ATO. For the purpose of the ATO the follow tasks need to occur:
- [x] Make sure no one is spinning up new instance

[2015-04-23 23:06] esgoodman commented on #604
Working on Orlando, FL.

[2015-04-24 00:29] mkhandekar commented on #596
Here's the message that we can send out:

—

Our team at 18F is working to improve sign-in and account management for government websites. One of our main goals right now is to streamline the interactions of small business owners and employees with the federal government.

To do that, we are currently interviewing small business owners and employees about how they use government websites for their

[2015-04-27 17:42] juliaelman commented on #576
Fixed with #580.

[2015-04-27 17:42] #576 closed

[2015-04-27 18:12] jackiekazil commented on #606
The repos were saved, but not moved to 18F. This is complete.

[2015-04-27 18:12] #606 closed

[2015-04-27 18:15] esgoodman commented on #615
This would be a good opportunity to ask for research volunteers. Please talk to me before sending the email so I can insert some copy to that effect.

[2015-04-27 18:21] jackiekazil opened #626 "Post Small Biz solicitation to MyUSA Facebook Acct"
Post Small Biz solicitation to MyUSA Facebook Acct.

Account -- https://www.facebook.com/ProjectMyUSA/
Message --
We're redesigning MyUSA to streamline sign-in and simplify application management. We'd love to get your opinions. To participate, email myusa@gsa.gov with “peek” in the subject line and we'll get in touch.

[2015-04-27 18:26] jackiekazil opened #627 "Setup mailing list for developers that is public"
We tried to do this once via GSA, but erred and it wasn't public. Going to try to do this again. Hopefully, this time it will work!

[2015-04-27 18:33] esgoodman commented on #62
Related to: https://github.com/18F/myusa/issues/523

[2015-04-27 20:28] jackiekazil opened #628 "Figure out social media branding"
We have multiple accounts that are sending multiple messages.
https://twitter.com/myusa - 'My.USA.gov' <-- @quepol has this one
https://twitter.com/projectmyusa - 'Project MyUSA' <-- I have this one.
https://twitter.com/ProjectMyGov - <-- I have this one also
https://www.facebook.com/ProjectMyUSA - 'Project My USA' <-- I have this one.

Let's coordinate on branding, images, text, etc.

[2015-04-27 20:36] jackiekazil commented on #615
:+1: /cc @adelevie @yozlet

[2015-04-27 21:39] jackiekazil commented on #626
Shooting to get get #628 finished first.

[2015-04-27 21:39] jackiekazil commented on #626
/cc @esgoodman, because this directly effects the work that she is working on.

[2015-04-27 21:40] jackiekazil opened #629 "Post Small Biz solicitation to MyUSA Twitter Acct"
Text:
Coming soon: a redesigned MyUSA! Get a sneak peek and give feedback by emailing myusa@gsa.gov with “peek” in the subject line. @18F #myusa

[2015-04-27 21:41] jackiekazil commented on #629
Let's fix #628 first.
/cc @esgoodman

[2015-04-27 23:15] esgoodman opened #630 "Evaluate Learn More page with federal employees"
@mkhandekar has produced a few directions for the Learn More page. We need to select one direction to develop further. To do that, we'll do about 6 remote interviews with federal employees who match the profile of our agency partner contacts.

- [x] Schedule interviews (we already have participants lined up)
- [x] Write [research plan](https://github.com/18F/myusa-ux/blob/master/research/usability

[2015-04-28 18:07] mkhandekar commented on #608
Did this while I was working on permissions a couple weeks ago, but for @juliaelman as we move into development work. You can find the sketch file in drive: [15-04-28_MyUSA_UIElements.sketch](https://drive.google.com/drive/u/0/#folders/0BwWYNZcEDfwafnBKSTdsMmt1N1JpblRPY2k1RVRFMkFVQ1dFMzBaWTJ3eXJBUWpKVFFHSmc).

![myusa_ui elements](https://cloud.githubusercontent.com/assets/1598889/7376710/98a902ba

[2015-04-28 21:18] esgoodman commented on #617
There's a bunch of useful [Gov.UK patterns](https://designpatterns.hackpad.com/List-of-design-patterns-0eUk1OdHvql) that could be relevant here.

[2015-04-30 20:44] yozlet commented on #593
All done! Cookbook PR is https://github.com/18F/myusa-cookbook/pull/7

[2015-04-30 20:44] #593 closed

[2015-04-30 21:11] adelevie opened #632 "Create CloudFormation template for Cloud Foundry"
Use a single Cloudformation template to spin up:

- MySQL (can we switch to PG?)
- Cache (elasticache?)
- ELB

[2015-05-04 17:40] adelevie opened #633 "Dev experience feature: pre-filled application"
In the [`omniauth-myusa` repo](https://github.com/18F/omniauth-myusa/tree/master/example), we have instructions for running a Sinatra application that is an OAuth consumer of a locally-running MyUSA instance.

We could have a button that only appears in development mode that when clicked would pre-fill the form fields, saving a new developer a bunch of copying and pasting and window switching.

[2015-05-04 17:42] esgoodman commented on #604
Now with participation from Tucson folks!

[2015-05-04 18:13] esgoodman opened #634 "Difficulties when accessing email via Citrix (from myusa-ux)"
Moving https://github.com/18F/myusa-ux/issues/3 over here to give it more visibility.

cc @mbland and omb-awong

[2015-05-04 18:48] esgoodman commented on #630
- [ ] need to make Learn More mockup.

[2015-05-04 21:11] adelevie commented on #585
Solved.

[2015-05-04 21:11] #585 closed

[2015-05-04 21:42] kategarklavs commented on #615
Will work with @esgoodman to modify existing copy (by end of sprint).

[2015-05-04 21:55] jackiekazil commented on #62
Added.

[2015-05-04 21:55] #62 closed

[2015-05-04 22:01] esgoodman opened #635 "Integrate new Learn More and front page design into existing fed employee test mockup"
Since we've changed the front page and added a Learn More page since #486, I need to integrate those changes into the existing mockup before we evaluate them (see #630).

[2015-05-04 22:36] jackiekazil commented on #623
@adelevie -- I seemed to have labeled this as working, but I don't believe this has been discussed. Are you working on this or should this be moved to backlog?

[2015-05-04 22:39] jackiekazil commented on #551
Closing this ticket. This is has been resolved.

[2015-05-04 22:39] #551 closed

[2015-05-04 22:40] jackiekazil commented on #627
Ticket submitted... waiting on gsa help desk reach out.

[2015-05-05 05:20] yozlet commented on #632
Not switching to PG yet. Let's get moved over to CF first.

[2015-05-05 05:32] yozlet opened #636 "Fix asset precompile on Cloud Foundry"
Asset precompile is failing because it tries to initialize the Rails app, which tries to access the DB at initialization time, which fails because the buildpack doesn't pass in the DB connection info at compile time.

@dlapiduz identified the specifics of the Rails initialization problem: [`User.rb`](https://github.com/18F/myusa/blob/devel/app/models/user.rb#L3-L39) requires our custom [two-factor

[2015-05-05 05:39] yozlet commented on #636
Note on solution 2: Heroku used to have a Labs feature called `user env compile` to make user environment variables available to the compile phase, but it doesn't seem to be in the ruby buildpack any more (or if it is, it isn't obvious how to enable it).

[2015-05-05 15:36] konklone opened #637 "Tabindex for field entry on sharing data"
Tabbing from the First Name field took me to the checkbox, instead of to the Last Name field.

![screenshot from 2015-05-05 11 36 02](https://cloud.githubusercontent.com/assets/4592/7476349/f90bb11e-f31a-11e4-9ac5-2c4dda039782.png)

I think the fields should tab naturally from one editable field to the next.

[2015-05-06 06:02] yozlet commented on #636
Fixed in an easy-but-awful way by simply catching the `NoMethodError` exception. (Thanks, @dlapiduz)

[2015-05-06 06:02] #636 closed

[2015-05-06 14:38] NoahKunin commented on #636
@yozlet can you speak a little more about the awfulness?

[2015-05-06 22:33] yozlet opened #639 "Migrate to Cloud Foundry for ATO"
Move our primary deployment from the current mixture of AWS, CloudFormation, Chef, Shipper, twigs and spit to the shimmering crystal future of Cloud Foundry (plus CloudFormation, but with less spit).

- [x] Fix asset precompilation issue (#636)
- [x] Force HTTPS
- [x] Use [Unicorn](https://github.com/dlapiduz/fugacious/blob/master/Procfile) instead of WEBrick
- [x] Enable New Relic monitoring
- [x

[2015-05-07 15:49] mkhandekar commented on #608
Updated Permissions screens, based on @kategarklavs's [content revisions]( https://docs.google.com/document/d/1Q9ngbu2iKceXohWAza1r7maNsF8R277Tpp1XfS94u-s/edit) based on [hallway testing](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint25_hallway-SFFB.md).
- This direction is a mix of Decision first and Explanation first, as we found that visitors wanted _more specific_ explan

[2015-05-07 16:36] juliaelman commented on #608
Thanks for the update @mkhandekar! Changing this to "_develop" and am working on coding this up in this pull request >> https://github.com/18F/myusa/pull/638

[2015-05-07 18:43] esgoodman commented on #608
To make the page shorter, could we reduce the amount of small text up top? Here's some relevant design pattern info on [signing in](https://designpatterns.hackpad.com/Signing-in-aVfhGsMS3b2), [help text links](https://designpatterns.hackpad.com/Help-text-XqnDcGgTBKQ).

[2015-05-07 18:45] esgoodman commented on #608
@kategarklavs ... I was thinking that we might be able to radically condense the second para or maybe delete it altogether.

[2015-05-07 18:46] esgoodman commented on #635
Done! Viewable at http://invis.io/FC2WS2C8N

[2015-05-07 18:46] #635 closed

[2015-05-07 20:45] jackiekazil commented on #583
Ty for everyone who helped tackle this! -- @adelevie @yozlet @kategarklavs @NoahKunin @mkhandekar @dlapiduz  -- after trying to mention everyone, I am certain that I forgot someone.

:100: :us: :muscle:

[2015-05-07 20:45] #583 closed

[2015-05-07 20:49] adelevie commented on #583
Don't forget @juliaelman!

[2015-05-07 21:30] kategarklavs commented on #608
@esgoodman I'm all in favor of shorter copy blocks. And it does seem somewhat redundant to say "Please review the following info ..." and follow that up with "Share your email" and "Share your name."

In short, I'd be content to delete the second paragraph, so long as no one else feels this change would result in major user confusion.

[2015-05-07 21:47] jackiekazil commented on #583
Now, @juliaelman gets two mentions! :-)

[2015-05-11 12:54] mkhandekar commented on #608
Facebook's example for per-item permissions:
- [Article: how it's going for users and Facebook](http://www.businessinsider.com/facebook-login-updates-for-more-privacy-2015-4)
- [The UI](http://www.adweek.com/socialtimes/wp-content/uploads/sites/2/2014/04/login1.png)
- [Facebook's login testing guide](https://developers.facebook.com/docs/facebook-login/testing-your-login-flow/)

Useful links from g

[2015-05-11 13:00] mkhandekar commented on #617
Reading: UK.gov's thoughts on [filling out forms & progress bars](https://designpatterns.hackpad.com/Form-filling-behaviour-aXT1vuzBmFb#:h=People-don't-need-progress-bar).

[2015-05-11 13:10] jackiekazil commented on #617
:+1:  That is interesting!

[2015-05-11 13:15] jackiekazil commented on #615
@kategarklavs -- Ty for doing this!

[2015-05-11 13:15] #615 closed

[2015-05-11 13:17] jackiekazil commented on #626
@kategarklavs -- I can't remember -- were we posting this week or waiting for the name change to FB?

[2015-05-11 13:18] jackiekazil commented on #628
@Kategarklavs -- we doing any image changes for backgrounds or profile image?

[2015-05-11 13:34] mkhandekar commented on #628
@kategarklavs @jackiekazil @jeanninehunter:

Here are the updated logo files for social media. You should be able to just drag the image from this page and drop it to your desktop to save. Let me know if you need any other elements!

![myusa_logo_wbg](https://cloud.githubusercontent.com/assets/1598889/7565758/a1686114-f7c0-11e4-86d2-4d24a43ebdcc.png)
![myusa_logonotext_wbg](https://cloud.githubuse

[2015-05-11 14:23] jeanninehunter commented on #628
Thanks, @mkhandekar!!  These should work!

[2015-05-11 17:28] jackiekazil commented on #630
Update: Liz is almost done w/ the report -- will share google doc w/ team.

[2015-05-11 17:31] kategarklavs commented on #626
I'd be happy to post this week: I believe the name change might take up to 14 days to take effect — @jeanninehunter, is that the case?

Also, @esgoodman — any preference on when we post? In other words, would it be better to get the message out now, or to wait until our fb page reflects our actual name?

[2015-05-11 17:44] kategarklavs commented on #615
@jackiekazil You're most welcome!

[2015-05-11 17:50] jackiekazil opened #640 "All the things: Rethinking dev experience"

[2015-05-11 17:50] jackiekazil commented on #9
should be thought about in #640

[2015-05-11 17:50] #9 closed

[2015-05-11 17:56] yozlet commented on #23
No longer working on FICAM project, but OIDC may be the easiest way to get MyUSA integrated with RPs. However, we need to affirm this properly. Closing in favour or a research task.

[2015-05-11 17:56] #23 closed

[2015-05-11 18:00] jackiekazil commented on #61
We don't have any context on this... so we are double iceboxing it --- aka closing.

[2015-05-11 18:00] #61 closed

[2015-05-11 18:01] esgoodman opened #641 "Write up or otherwise document personal experience with developing/integrating MyUSA"
It doesn't have to be well-written, but some notes on your experience with MyUSA will help me ask better questions of developers and integrator PMs. You can put notes in comments here, send them to Liz in email or Slack.

attn: @adelevie and @yozlet

[2015-05-11 18:02] esgoodman commented on #61
[Relevant info](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint22_research-results.md#midas--myusa-in-house-usability-tests)

[2015-05-11 18:03] yozlet opened #642 "Validate need for OpenID Connect endpoint"
We've talked about OIDC integration since it's a standard for the kinds of IdP interactions that we're offering. It may make things somewhat easier for integrators. However, we don't yet know if there's significant demand for this. Also, while we definitely want to offer an easier path for integrators, the OIDC client libraries may not be mature enough yet; plus need to be sure that OIDC is growin

[2015-05-11 18:05] jackiekazil opened #643 "Having problems logging in? Contact us via email"
Add something like this to the login screen and the more info screen.
Having problems logging in? Contact us  at myusa email.

(Then when have use cases, we will solve for those.)

[2015-05-11 18:06] jackiekazil commented on #71
closed for #643

[2015-05-11 18:06] #71 closed

[2015-05-11 18:07] jackiekazil commented on #113
Double icebox -- we don't know that there is a need for this.

[2015-05-11 18:07] #113 closed

[2015-05-11 18:08] yozlet commented on #305
No longer applies due to Cloud Foundry.

[2015-05-11 18:08] #305 closed

[2015-05-11 18:10] yozlet commented on #126
This was apparently done at some point. Yay!

[2015-05-11 18:15] jackiekazil commented on #161
Related #640

[2015-05-11 18:30] kategarklavs commented on #216
This sprint, I'll investigate which emails are currently being sent (and will compile said info into a readme).

[2015-05-11 18:30] yozlet commented on #216
The task is now: Gather a list of all emails we currently send to users and document in a `README.md` stored with the email templates.

[2015-05-11 18:30] kategarklavs commented on #216
Perfect!

[2015-05-11 18:31] jackiekazil commented on #633
Related to #640

[2015-05-11 19:48] adelevie commented on #618
Options:

option 1) change the 'from' address from 'no-reply' to 'MyUSA'
option 2) add MyUSA to the subject
option 3) a mix of 1 and 2

cc @yozlet @kategarklavs

[2015-05-11 19:52] yozlet commented on #618
Try adding a name to the configured email address, to make it something like `MyUSA <no-reply@...>` ?

[2015-05-11 20:02] adelevie commented on #637
This will be fixed in https://github.com/18F/myusa/pull/638.

[2015-05-11 20:15] nickbristow commented on #637
@konklone The tab order you're seeing is correct in terms of how the form is laid out. Top-Down, Left-Right. If the form inputs were re-ordered it may be easier for the user.

[2015-05-11 20:16] adelevie commented on #637
@konklone closing this in light of @nickbristow's comment. Feel free to re-open or discuss if you think we need to.

[2015-05-11 20:21] konklone commented on #637
I do think we need to discuss this. I think if the tabindex shouldn't be modified away from the form order, then the form order should be modified to make a clear jump from first name to last name. This is how most forms on the internet work that accept a first name and a last name, and the fact that we have the ability to submit that field or not is an implementation detail that shouldn't get in

[2015-05-11 20:23] adelevie commented on #637
The fields do still get submitted even if the checkbox is unchecked. If unchecked but still filled out, the value is sent to MyUSA to become part of your profile information. The checkbox is a user's option to share that profile data with the 3rd party application.

[2015-05-11 20:27] kategarklavs commented on #618
@adelevie I'm also in favor of adding MyUSA to the subject line. What about this?

"Complete your login with MyUSA"

True, the first line of the email lets the user know that they'll need to click the link to finish logging in, but I don't think this redundancy would be overwhelming. What do you all think? (My feeling is that the benefit of including "MyUSA" in the subject line outweighs the tiny

[2015-05-11 20:28] adelevie commented on #618
I strongly agree.

[2015-05-11 20:33] konklone commented on #637
Got it -- my misunderstanding of the functioning of the checkboxes not withstanding, it doesn't change my point above.

[2015-05-11 20:34] konklone commented on #618
Is it easy to include the integrating service? e.g. --

I think this will further improve the recognizability and trustworthiness of the email.

[2015-05-11 20:42] adelevie commented on #618
That's a good idea, @konklone. This should be feasible.

Thumbsup from @esgoodman and @kategarklavs et al. and I'll add it.

[2015-05-11 20:48] adelevie commented on #637
Is there something written down about this expectation to always jump from first name to last name?

The UX for much of MyUSA is fairly complex (e.g. communicating to users what info is shared with whom) and @esgoodman, @mkhandekar, and others on the team are working hard at figuring out designs that reduce that complexity as much as possible. This is one of several (sometimes competing) values we

[2015-05-11 20:59] mkhandekar commented on #618
:+1: all the way.

[2015-05-11 21:05] mkhandekar commented on #618
Also agreed with @adelevie on this point, in addition to @kategarklavs's subject line change.

[2015-05-11 21:52] esgoodman commented on #641
Will help resolve #640.

[2015-05-11 22:11] esgoodman opened #644 "Enable per-app customizable content"
Research with federal employees found the help text on the permissions page was [not always reassuring](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint25_hallway-SFFB.md#more-information-is-not-always-reassuring), and that many users are [looking for reassurance](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint22_research-results.md#participants-are-uncer

[2015-05-11 22:45] konklone commented on #637
I'm not saying tabindexes are more important than accessibility or form layout. However, I didn't originally think they would be in tension, and assumed that tab indexes could be adjusted differently than the order laid out on the form.

If that's not desired, or inhibits accessibility, then my request is simply to evaluate manual tabbing as possibly something to optimize for in the overall form d

[2015-05-11 22:58] adelevie commented on #637
It's all good :)

At least for now these values do seem to be in tension.

We're also in the middle of some redesigns of that page (in this branch https://github.com/18F/myusa/tree/feature/permissions_page_redesign), so maybe some new issues related to that page will come up. Also, I think our UX folks are now at least aware of the preference/expectation for tabindexes you mentioned, and that can

[2015-05-11 22:58] #637 closed

[2015-05-11 23:05] konklone commented on #637
:+1:

[2015-05-13 01:02] yozlet opened #646 "Email address missing on access link re-send page"
To repro:
1. Enter email to sign in
2. On the "You're almost there" page, click "request another link"
3. See text:
[code]

[2015-05-13 01:04] yozlet opened #647 ""You're almost there" page should use different formatting for email address"
At present, display of the user's email address on the "You're Almost There" page (i.e. after they've entered their email address to authenticate) is formatted the same as the rest of the body text. We should probably make it stand out in a monospace font, or something.

[2015-05-13 01:13] yozlet opened #648 "Should we provide a way for the user to abort sign in flow?"
Suppose a user goes to Benefits.gov, sees the encouragement to sign in with MyUSA and tries it. In the middle of the flow, due to problems with email or whatever, they decide to give up on signing in and just use Benefits.gov without signing in.

At present, the only way for them to do this is to try to navigate back to where they were before clicking the "Sign In" button. Although OAuth _does_ ha

[2015-05-13 23:44] esgoodman commented on #647
@mkhandekar Can you suggest a change? I'd argue that the address should be **bold** to make people more likely to notice if they have perhaps entered it wrong...but maybe you have a better idea?

[2015-05-13 23:57] esgoodman commented on #648
cc @mkhandekar -- This does seem like a big flow problem....do something like this: !(https://projects.invisionapp.com/d/main#/console/2318574/72821059/comments/35016801)

[2015-05-14 04:30] konklone opened #649 "Authentication link is plain HTTP"
The login link I just clicked goes through a Mandrill link redirector:

[code]

This makes me vulnerable to tracking and redirection attacks on a hostile network. As a well known service powering many other services, mandrillapp.com would be a high-value target for such an attack.

The mandrillapp.com link appears to work fine over HTTPS.

[2015-05-14 04:34] konklone opened #650 "Authentication link goes to HTTP destination first"
When clicking the authentication link I've been sent, after traveling through the Mandrill redirector as documented in #649, the redirect is first to an HTTP URL, `http://alpha.my.usa.gov`.

I've modified the links below to use `XXXXXX` instead of full tokens:

[code]

The alpha.my.usa.gov link then redirects to HTTPS. `https://alpha.my.usa.gov` doesn't have a HSTS header set, but even if it did,

[2015-05-14 17:17] esgoodman opened #651 "Map integrator customer journey"
Through [evaluating the Learn More page](#630), we've discovered that the process of integrating MyUSA starts long before any code is written. It really starts when a product owner realizes that a website needs a sign-in system. Our public-facing communication is a big part of this process, and so we're mapping the full journey in order to identify opportunities to better support the early stages.

[2015-05-14 17:31] mkhandekar commented on #647
**Email bolded**
Bold seems to be effective and the simplest & fastest thing to implement in the current screen. I'm working on the sign in flow which includes this screen and will make sure that I address the email address in that screen similarly.
![screen shot 2015-05-14 at 1 24 13 pm](https://cloud.githubusercontent.com/assets/1598889/7637576/ed433ff4-fa3c-11e4-86f3-7e3602bead94.png)

**Anothe

[2015-05-14 17:37] mkhandekar commented on #648
@yozlet Thanks for bringing this up. Can you speak more about the bolded part? Does that mean, that MyUSA (we) get notified that someone started the sign in process, and then quit it?

What kind of things can the "app (partner agencies, right?) decide to do" when there is a sign in failure?

cc @esgoodman

[2015-05-14 20:56] afeld commented on #595
Since the logins are cookie-based, not sure that there's a good way around this.

[2015-05-14 21:38] yozlet commented on #648
@mkhandekar: We should definitely measure when people quit out early (to the extent that we can), but the main purpose is to end up back at the app with an indicator that no, the app hasn't been given identity/authorisation.

The possible reasons for the user explicitly quitting the auth process include being unable to authenticate (no email access right now) or wanting to continue to use the app

[2015-05-14 21:57] kategarklavs opened #652 "Authentication instruction email is the same for new/returning users"
While researching our current system-generated emails, I noticed that the same authentication instructions email is sent to all users (new and returning alike).

@esgoodman talked to @yozlet about this/suggested creating an issue so we don't forget about this item.

*Note*: I'm happy to draft email templates for both customer groups.

cc @jackiekazil @yozlet @esgoodman

[2015-05-15 00:11] esgoodman commented on #647
I'd go with the bold. The blue seems a little button-y.

[2015-05-15 00:16] esgoodman commented on #648
I added a sketch to a comment in the Invision site map page that I thought
might address this -- thought I sent it to @mkhandekar but maybe Invision
fooled me on that...

[2015-05-15 14:12] mkhandekar commented on #647
:+1:

[2015-05-15 14:59] jackiekazil commented on #634
@esgoodman -- this ticket points to the other ticket, while the other ticket points to this ticket.
From what I can tell, this needs to be addressed in MyUSA on the UI side? If so, can you update or add a summary of what needs to happen?

[2015-05-15 15:07] seanherron opened #653 "Can't login to MyUSA"
Upon trying to authenticate:

[code]

URL: `https://myusa.18f.gov/users/auth/google_oauth2/callback?state=`
(token stripped out)

[2015-05-15 15:11] jackiekazil commented on #653
Just had the same issue. I tried again and it went through. (But still an issue)

[2015-05-15 15:53] jackiekazil commented on #641
:+1: .... @ultrasaurus, @mbland, @seanherron, @phirefly --- let us know if you have stuff to add to this!

[2015-05-15 15:54] jackiekazil opened #654 "All the things: ATO related"
This ticket has all things that are related to the ATO.

[2015-05-15 15:55] jackiekazil commented on #639
related #654

[2015-05-15 15:58] jackiekazil commented on #598
Unblocked... we are moving forward to use this as a way to get people excited!

[2015-05-15 15:59] jackiekazil commented on #593
refs #654

[2015-05-15 17:22] mkhandekar commented on #648
@yozlet Thanks for going into detail on this. Agreed on all of it. I wish we could (or can we?) influence some of the messaging on the Agency website if a visitor has quit the sign in process, to tell them that:

@esgoodman I didn't see the sketch until just now when I poked around the Invision, apologies! We are on the same page -- this is addressed on these two screens:
- [step 1: register with

[2015-05-15 17:30] mkhandekar commented on #544
We are changing the top nav, so closing this issue.

[2015-05-15 17:30] #544 closed

[2015-05-15 17:59] esgoodman commented on #642
Is this something I should be involved in or is it research just for @yozlet?

[2015-05-15 18:06] esgoodman commented on #564
@ultrasaurus reports

1. that a number of Open Opps users are using the "connect with Google" option.
2. that we need to preserve the name/password sign-in option on this screen.

[2015-05-15 18:46] esgoodman commented on #634
cc @adelevie and @kategarklavs I believe this is a front end/copy problem.

[2015-05-15 19:12] esgoodman commented on #634
People who access their email via Citrix can have problems with the "click the access link" step of sign-in. The email client is running remotely via Citrix. The browser is running locally. So clicking on the email link won't open a page in the locally running browser, *and* they often can't cut and paste the URL from the email to the browser for reasons we don't need to explore here.

They can st

[2015-05-15 19:21] esgoodman commented on #634
**What needs to happen?** I'm not sure how common this problem will be, as I said. However, the "click the access link" interaction is central to the sign-in flow. Providing a happy human-readable URL in the body of the email seems like a reasonable way around it, but I'm not clued in enough about the technical dimensions to really speak knowledgeably about what could/should happen next.

So I'm b

[2015-05-15 19:59] kategarklavs commented on #634
@esgoodman Thanks for bringing this to my attention — I wasn't aware it was a problem. I'm also not clued in enough re: technical dimensions, but would be happy to have a quick chat with @yozlet @adelevie and you to get a better sense of what's going on. (Once I have a good grasp of the mechanics, I'll get started on new copy!)

[2015-05-15 20:10] mkhandekar opened #655 "Permissions: What am I really sharing? Can I share all or none of the scopes?"
For @yozlet & @adelevie:

I wanted to see if we could potentially create a "[say yes / no to all](https://projects.invisionapp.com/d/main#/console/2318574/78398211/comments/35116890)" option on the Permissions screen in the new sign in flow.

To test that, I went to Midas to create a new account.
- I signed in using an email address.
- I reached the permissions screen, and unchecked everything (to

[2015-05-15 20:38] mbland commented on #641
18F/blog-drafts#177 has a bunch of my experience. Let me know if there's other aspects in particular you'd like me to address that aren't covered in that pending blog post.

[2015-05-15 21:22] esgoodman commented on #641
@mbland I'm specifically interested in any unexpected hurdles, hard-to-answer questions, or support concerns you had during the process. The blog post emphasizes the upsides — thank you! :blush: — but here I'm trying to figure out where we need to improve.

[2015-05-15 21:27] mbland commented on #650
Also, #573.

[2015-05-15 21:29] mbland commented on #641
There weren't any, really. Once I figured out the OAuth2 handshake, which isn't just a MyUSA thing, it was all a breeze from there. I just plugged the right URLs into the `google_auth_proxy`, and accessed the right API to get the email address, and boom! `myusa_auth_proxy`. The developer documentation was especially handy.

My only recommendation might be adding section to said dev docs about how

[2015-05-15 22:07] konklone commented on #573
Ah, I filed a dupe ticket in #650. It ended up being more detailed, though.

[2015-05-16 02:45] esgoodman commented on #564
After much [discussion](https://github.com/18F/myusa-ux/issues/4), it seems clear that at least for the moment MyUSA should keep supporting the status quo. @mkhandekar's [current mock](http://invis.io/SJ301PF5U) for this screen has external IdPs separated from MyUSA.

I think a good resolution for this issue will involve returning to the basic features of this screen

![sign in window screenshot w

[2015-05-18 15:57] esgoodman commented on #655
I'm wondering if the cause is that Midas only pulls MyUSA information into its user profile upon creation. After you first sign in to Midas with a given email address, you can't really use MyUSA to change the information in there. But I hope @ultrasaurus will check my logic here.

[2015-05-18 17:31] jackiekazil commented on #601
Update: a couple more research updates from Liz. Then Meghana will make adjustments as needed, then it is ready to code.

[2015-05-18 17:49] jackiekazil commented on #604
@kategarklavs can you post or were we holding off for #628

[2015-05-18 17:51] jackiekazil commented on #564
This will discussed further during this sprint.

[2015-05-18 17:54] jackiekazil commented on #655
Related to #638

[2015-05-18 17:57] jackiekazil commented on #62
Related: #630

[2015-05-18 18:01] jackiekazil commented on #655
Alan -- can you look in to the flow on this? I going to schedule a meeting later this week to discuss more to see if where the bug might be happening.

[2015-05-18 19:15] NoahKunin commented on #639
Seems like there should be some updates here.

[2015-05-18 20:12] esgoodman opened #656 "Create a UX styleguide for integration"
![screen shot 2015-05-18 at 11 47 32 am](https://cloud.githubusercontent.com/assets/10067318/7688886/33ac2668-fd5d-11e4-9cfb-0ac6d2aa125e.png)

@ultrasaurus has requested a styleguide to help her and other integrators build log in/ register screens like the one above. She points out, reasonably, that it would help our various integrators remain consistent. Such a styleguide could include:

- layou

[2015-05-18 21:49] kategarklavs commented on #607
@jackiekazil — Would you like me to replicate this process with @mkhandekar's new sign-in flow?

In April, I'd distributed (and some team members commented on) this sign-in flow document: https://docs.google.com/a/gsa.gov/document/d/1Z1JmbfSXz1eAucgHCPaOkRwqcAl5PHe5S-C0zJ31tYc/edit?usp=sharing

^^ (This doc is now outdated)

On Friday, I did provide feedback on Meghana's sign-in flow document; hap

[2015-05-18 21:55] kategarklavs commented on #604
I believe we were waiting for #628 — now that it's done, I'll post a notice to small business owners!

[2015-05-18 21:58] kategarklavs commented on #604
@jackiekazil Done!

[2015-05-19 01:20] mkhandekar commented on #656
This effort should / could not only be a style guide, but a "guidelines for agencies & developers" including:

- out of the box core sign in flow
- what idps are available for integration?
- why would you use _this_ vs _that_ idp? (scenarios, idp + agency fit, functionality)
- suggested log in flows for each combination of idps
- additional design / ui elements
- customizable content (#644 "Enable

[2015-05-19 02:18] jackiekazil commented on #604
:+1: :us:

[2015-05-19 02:19] jackiekazil commented on #626
@kategarklavs did this today! YAY!

[2015-05-19 02:19] #626 closed

[2015-05-19 02:22] jackiekazil commented on #607
@kategarklavs help me understand -- are you asking if we should do another copy of the feedback cycle on microcopy via google docs OR just use @mkhandekar's doc? (Am I understanding your question correctly?)

[2015-05-19 07:48] esgoodman commented on #626
I think we can do it now. The name is close enough.
On May 11, 2015 10:32 AM, "Kate Garklavs" <notifications@github.com> wrote:

[2015-05-19 15:24] mkhandekar commented on #608
I'll be making a version of the permissions page with all scopes. Here are all the scopes:

![myusascopes](https://cloud.githubusercontent.com/assets/1598889/7706534/fea83bca-fe18-11e4-84ac-320fc35f618d.png)

**Select the API Scopes that your Application will use**

Identify you by your email address
- Email Address

Address you by name
- Title
- First Name
- Middle Name
- Last Name
- Suffix

Know

[2015-05-19 18:09] mkhandekar commented on #571
Related to #640 (Developer Experience)

[2015-05-19 20:43] mkhandekar opened #657 "Auth screen: editing permissions (with all scopes)"
Core interactions for permissions was worked out in #608. Now we are designing the permissions page with all the scopes, to:
- confirm that those interactions work on different types of content
- keep moving work towards a BusinessUSA partnership

**To dos:**
- [x] draft 1 with all scopes
- [ ] collaborate with @kategarklavs on descriptions*
- [ ] draft 2, tighten up
- [ ] test
- [ ] adjustments b

[2015-05-19 20:43] mkhandekar commented on #608
Closing this issue as it is in production (#638).
Continuing permissions page with all scopes here (#657).

[2015-05-19 20:43] #608 closed

[2015-05-19 22:43] esgoodman commented on #581
I don't want to overload our co-working time, but maybe we could talk through how 2fA interacts with third-party IdPs this week, too? I'm not sure where 2fA shows up in the initial sign-in flow.

[2015-05-20 12:27] mkhandekar commented on #617
Draft 1 of the Register & Sign In flow design is on **[Invision with comments & feedback](http://invis.io/QV2ZZFKR3)**, and a couple of key screens are below.

#### Begin registration
Draft 1 assumes that MyUSA's core sign in user experience is only with their email address -- no third party IdPs. Based on conversations about [whether to retain external IdPs](https://github.com/18F/myusa-ux/issues

[2015-05-20 21:47] esgoodman commented on #630
[Summary of findings](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md)

[2015-05-20 21:47] #630 closed

[2015-05-20 22:52] esgoodman opened #658 "Decide what 2FA options MyUSA should offer users and integrators"
Two-factor authentication is implemented and functional. However, we have a number of UX questions about where and how it shows up.

* 2FA authentication prompts appear inconsistently in [the existing flow](http://invis.io/7M31O0KF8).
* The requirement (or lack thereof) is a [concern](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md#security-measures) for

[2015-05-20 22:57] esgoodman commented on #658
We asked the cybersecurity channel for their thoughts. The results: NO on (1) and (4), YES PLEASE to (2) and (3). (2) and (3) are compatible, with (2) layering features onto (3).

@dhcole added some nuance:

[2015-05-21 02:49] jackiekazil commented on #617
:+1:

[2015-05-21 13:52] kategarklavs commented on #607
@jackiekazil Sorry for the belated response — am catching up on email after the design studio. My question was whether I should create a new document (like the one linked above) based on Meghana's new sign-in flow. (I saw that she shared the new version of the flow yesterday.)

@mkhandekar @jackiekazil Would you prefer that I create a new set of recommendations in a Drive doc, or would you like me

[2015-05-21 13:57] kategarklavs commented on #657
@mkhandekar Sounds good!

[2015-05-21 14:05] mkhandekar commented on #607
@kategarklavs <https://github.com/kategarklavs> I'm going to continue
commenting on the Invision doc, so no need to make a new drive doc just
yet. Thanks!

[2015-05-21 14:08] NoahKunin commented on #632
...do even need a CloudFormation script for this next release on Cloud Foundry?

[2015-05-21 15:07] kategarklavs commented on #607
@mkhandekar Aye aye! In this case, I'll also keep commenting on the Invision doc :)

[2015-05-21 19:58] esgoodman commented on #658
@adelevie and @yoz, how hard would it be to make 2FA mandatory for some integrations but not others?

[2015-05-22 04:22] jackiekazil commented on #607
:+1:

[2015-05-22 04:26] jackiekazil commented on #658
:+1:

[2015-05-22 15:36] carodew opened #661 "MyUSA authenticaion emails getting caught up in GSA SPAM filter"
As a new employee, when I try to access the 18F hub I am directed to log in with my MyUSA credentials. But when I try to create a MyUSA account I don't get the confirmation email needed to establish the account. The email is getting stuck in the GSA SPAM filter, and there is no indication within Gmail that this is happening.

[2015-05-22 16:41] NoahKunin commented on #639
Per Slack, Team MyUSA is going to re-sort these into `now` vs `later`.

[2015-05-22 16:43] NoahKunin commented on #661
Hi @carodew! GSA has two Spam filters - Gmail itself, and Postini. Can you let us know which one it's getting caught in? (have a theory, would like to confirm)

[2015-05-22 16:46] NoahKunin commented on #654
Just for reference, the master issue is at https://github.com/18F/DevOps/issues/5

[2015-05-22 21:21] jackiekazil commented on #639
:+1:

[2015-05-26 13:04] carodew commented on #661
I believe it's Postini, as nothing shows up in the Gmail SPAM folder. Below is a screenshot. It's whatever SPAM filter I'm instructed to turn off from this [18F hub page](https://hub.18f.gov/private/kill-spam/).

![screen shot 2015-05-22 at 10 00 34 am](https://cloud.githubusercontent.com/assets/10144074/7813067/b8661d18-0385-11e5-9cb3-2f48223cb15b.png)

[2015-05-26 17:28] yozlet opened #662 "Remaining Cloud Foundry migration tasks"
... that were not covered by #639.

- [ ] Document #636
- [ ] Move service-specific env vars into User Created Services
- [ ] Setup auto-deploy through Snap CI

[2015-05-26 19:04] esgoodman commented on #642
Question to be answered with #651. @yozlet's question is whether implementers are interested in/enthusiastic about/demanding OIDC support.

[2015-05-26 20:22] jackiekazil commented on #654
:+1:

[2015-05-26 20:24] esgoodman opened #663 "Simple fix for Google Auth in sign-in flow"
@yozlet proposes an MVP solution for [our big questions about IdPs in sign-in flow](https://github.com/18F/myusa-ux/issues/4) while working on #617

 we make this

![screenshot of MyUSA sign-in screen with email input field first](https://cloud.githubusercontent.com/assets/10067318/7822126/6288dbd8-03a8-11e5-8236-63dd870c7f1a.png)

our initial screen in the sign-in flow

instead of this:
![screens

[2015-05-26 20:29] jackiekazil commented on #630
:+1:

[2015-05-26 20:30] yozlet commented on #644
This should be relatively easy, especially if we're not worrying about localisation yet. (We can create structures for localisation later if needed)

It sounds like all we need are:
1. Storage for the different content fragments (e.g. extra fields in the Application record, or a key-value table)
2. Simple editing interface for the fragments - can be admin-side only for the moment

[2015-05-26 20:47] jackiekazil commented on #389
Not doing this for now. Closing ticket

[2015-05-26 20:47] #389 closed

[2015-05-26 20:52] yozlet commented on #661
Hey @carodew - can I confirm that you're logging into https://alpha.my.usa.gov/ ?

[2015-05-26 20:53] yozlet commented on #653
This was, I believe, a Cloud Foundry problem with missing workers. @dlapiduz was working on fixing it - any update?

[2015-05-26 21:02] dlapiduz commented on #653
@yozlet there was a networking problem but I am not 100% sure that it was the issue... is this fixed now?

[2015-05-27 18:26] jackiekazil opened #664 "Review and update 18F dashboard"
Review and update 18F dashboard for MyUSA -- https://18f.gsa.gov/dashboard/

[2015-05-27 22:38] yozlet commented on #573
Grabbing this one because it's easy to fix while doing the Cloud Foundry work (since `production.rb` is getting overhauled, and that's where the fix happens)

Answer: http://stackoverflow.com/questions/9459892/how-to-define-a-host-with-https-in-action-mailer-default-url-options

[2015-05-28 21:19] kategarklavs commented on #299
@esgoodman and @jackiekazil — Is this task still a go? If so, I can add it to my to-do list and come up with some fun error messages.

If not, let's close the issue!

[2015-05-28 21:23] kategarklavs commented on #325
@mkhandekar (and @esgoodman): Do you agree with @cpapazian's comment that working from the sitemap is the best way to go about renaming pages? Also: Is this issue still relevant? If so, I'm happy to create new page names + send them to the team. cc @jackiekazil

[2015-05-28 21:28] kategarklavs commented on #540
@adelevie and @yozlet — Two questions for you!

1) What's the status of the API docs for tasks (mentioned in early February by @cpapazian); and
2) Does the documentation need to be updated?

I'd previously made copy changes to the existing documentation; if you all feel it needs further revisions, let me know!

[2015-05-28 21:30] esgoodman opened #665 "Interview more stakeholders at partner agencies"
## Background

Interviews during Sprint 30-31 with our partners [about the landing page](https://projects.invisionapp.com/d/main#/console/2318574/76846642/preview) revealed [some unexpected complexity](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md). We realized that people from different professional roles interpreted the landing page quite differently.

[2015-05-28 21:30] esgoodman commented on #665
cc @mkhandekar and @kategarklavs

[2015-05-28 21:34] kategarklavs commented on #581
@esgoodman I'm also not sure where 2fA shows up in the sign-in flow — perhaps we can touch on this during tomorrow's meeting, as well(!)

[2015-05-28 21:35] kategarklavs commented on #598
Post was published on 5/18: https://18f.gsa.gov/2015/05/18/myusa/

Closing the issue.

[2015-05-28 21:35] #598 closed

[2015-05-28 21:38] kategarklavs commented on #607
I've been commenting in InVision on an as-needed basis — closing this issue, for now. (Feel free to reopen, if necessary!)

[2015-05-28 21:38] #607 closed

[2015-05-28 21:39] kategarklavs commented on #540
Just talked to @esgoodman — we're happy to close this, for now (no one has expressed issues w/current documentation).

[2015-05-28 21:39] #540 closed

[2015-05-28 21:40] esgoodman commented on #492
related to #640.

[2015-05-28 21:41] kategarklavs commented on #618
Howdy, all! @adelevie, you have my :+1:

@esgoodman — does this work for you?

[2015-05-28 21:41] kategarklavs commented on #628
Quick update on this: Facebook is ready to go, and @jeanninehunter is currently working to wrap up Twitter-related updates. We should be able to close this by the end of this week (or Monday).

[2015-05-28 21:41] mkhandekar commented on #607
@kategarklavs - sounds good!

[2015-05-28 21:42] kategarklavs commented on #629
See comment on #628 — Twitter should be ready to go shortly.

cc @jackiekazil @jeanninehunter

[2015-05-28 21:43] kategarklavs commented on #644
@esgoodman Is the plan to create customized content for our current partners, or to create a customizable (Mad-Libs-style) template? Or both? (We can also touch base on this tomorrow.)

[2015-05-29 00:10] jackiekazil commented on #299
@yozlet @adelevie, can you confirm that this is still relevant? (I believe it is, but I want a second thumbs up.)

If so, @kategarklavs lets put this as a lower priority thing that you and @mkhandekar work on in 'spare' time.

[2015-05-29 04:51] jackiekazil commented on #653
@dlapiduz, last time @yozlet and I chatted, it wasn't an issue anymore.
@seanherron, can you confirm that this isn't an issue anymore to your knowledge?
(Maybe we close this and reopen/reference if it comes up again since we might not be able to replicate?)

[2015-05-29 13:14] seanherron commented on #653
@jackiekazil yes, I think it can be closed. I haven't been able to replicate recently.

[2015-05-29 14:03] jackiekazil commented on #653
Ty @seanherron!

[2015-05-29 14:03] #653 closed

[2015-05-29 15:59] esgoodman commented on #618
Works for me! Let's do it.
On May 28, 2015 2:41 PM, "Kate Garklavs" <notifications@github.com> wrote:

[2015-06-01 16:14] mkhandekar commented on #658
Looking at [Google's 2-step verification guide](https://www.google.com/landing/2step) as inspiration as we start to do ours.

![1a](https://cloud.githubusercontent.com/assets/1598889/7917171/507a94f6-0856-11e5-99c7-f3cce9cd6630.png)
===
![1b](https://cloud.githubusercontent.com/assets/1598889/7917170/507a949c-0856-11e5-90e8-7a4b2a2c18d8.png)
===
![2](https://cloud.githubusercontent.com/assets/1598

[2015-06-01 18:18] jackiekazil commented on #192
:cough: @polastre :cough:

[2015-06-01 18:21] yozlet commented on #192
At present we don't have a list of assertions to be tested, but I hope that working on the third-party security audit may provide some.

[2015-06-01 18:39] esgoodman commented on #658
I feel like Google's flow may be more elaborate than we need. There's a mural.ly doc where I've been collecting examples: https://mural.ly/t/gsa6/m/gsa6/1426803022441.

[2015-06-01 20:47] ultrasaurus commented on #623
@adelevie is this being worked on now?  We're now moving forward with our ATO process, so we would love to get this addressed.

[2015-06-02 13:54] carodew commented on #661
Sorry for being MIA on this, been very busy. These are the screens I get to when I try to go to the hub on a browser where I'm not logged in already. Going to https://hub.18f.gov/ I see this:

![screen shot 2015-06-02 at 9 49 24 am](https://cloud.githubusercontent.com/assets/10144074/7937220/c9c8706a-090c-11e5-89f2-d07f55e76440.png)

I click on the button and I get this screen, which yes, seems to

[2015-06-04 18:01] esgoodman commented on #658
Closing because we've decided this and are now implementing the decision.

[2015-06-04 18:01] #658 closed

[2015-06-04 21:26] mkhandekar commented on #623
@ultrasaurus and/or @adelevie, it seems like that image (url: https://midas.18f.us/images/logo-square.png, redirects to https://openopps.digitalgov.gov/images/logo-square.png). Can you check what's going on with the redirect, and can you replace it with either version of the MyUSA logo below? I'd recommend just the icon since it's a small image.

![myusa_logo_wbg](https://cloud.githubusercontent.c

[2015-06-04 21:35] ultrasaurus commented on #623
I believe that image is supposed to be the product logo, not the MyUSA logo, so when the user sees the Auth page they know to what they are providing data.

We changed the hostname of Open Opps this past week.  I changed all the URLs in the application edit page on myusa:
![image](https://cloud.githubusercontent.com/assets/41906/7994997/e104bf3e-0ac6-11e5-8b07-6629c8bee321.png)

[2015-06-04 21:35] ultrasaurus commented on #623
by the way, that screenshot was on:  https://alpha.my.usa.gov/applications/25/edit

[2015-06-04 21:39] mkhandekar commented on #623
"image is supposed to be the product logo" -- of course! Yes.

@adelevie @yozlet can you help Sarah? I don't have access to the apps to investigate further.

[2015-06-05 16:20] juliaelman commented on #601
After speaking with both @mkhandekar and @esgoodman, this issue is no longer relevant in the current iteration of this homepage.

[2015-06-05 16:20] #601 closed

[2015-06-05 20:44] NoahKunin commented on #625
Hey team - trying to put a wrap on all the relates tasks, but seeing this has been pushed out over 4 sprints.

Hoping maybe the checklist isn't updated @yozlet and we're closer to the final step?

[2015-06-05 21:28] esgoodman opened #669 "Add CrazyEgg javascript to permissions screen"
CAP is onboarding a bunch of people next week. It would be great to take this opportunity to get some more quantitative-ish data about how people are reading the site. To do that, we need to paste their code into the permissions screen. I don't know if this is possible by Monday, but it'd be nice. cc @yozlet

[2015-06-05 22:14] NoahKunin commented on #654
Tracking through dependencies This is just ultimately a pointer to https://github.com/18F/myusa/issues/625 at this point, so closing for clarity.

[2015-06-05 22:14] #654 closed

[2015-06-05 23:18] NoahKunin commented on #649
Just tested again and confirmed this is still a problem. Hostile networks are real, this is a *must fix*.

[2015-06-05 23:19] NoahKunin commented on #573
Just confirming this a must fix, hostile networks are very real.

[2015-06-05 23:19] NoahKunin commented on #650
Just confirming this a must fix, hostile networks are very real.

[2015-06-08 09:50] yozlet commented on #669
Since adding this third-party service may cause security problems and information leakage, @NoahKunin has asked for the risk management assessment which usa.gov may have already done.

[2015-06-08 17:07] esgoodman commented on #669
Need to get security assessment for @NoahKunin before moving anywhere on this. I'm working on it.

[2015-06-08 17:54] esgoodman opened #670 "Review copy changes to landing/learn more pages"
Based on the [last round of research](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md) Liz copied and pasted text from a variety of sources, then wrote some new stuff for the new public-facing information page. Someone with content expertise (e.g @kategarklavs and/or @jeanninehunter) should review it before it goes live.

Most recent mockups in [Invision

[2015-06-08 17:59] esgoodman opened #671 "Delays reported in receiving access link email"
Integrators (not in GSA) are reporting approximately 4-minute delays in receiving access link emails after requesting them. It's a big problem for end users, who are confused about whether the service is working. The root cause is unclear. This may or may not be related to #661.

[2015-06-08 18:03] esgoodman commented on #524
More information (https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md)[here].

[2015-06-08 18:22] esgoodman opened #672 "Code up new public-facing pages"
We have new designs for the public-facing pages (aka landing page and Learn More). Basic mockups [here](https://projects.invisionapp.com/d/main#/console/2318574/82558831/preview).

cc @juliaelman

[2015-06-08 20:11] esgoodman commented on #672
Moved to backlog to prioritize working on sign-in flow.

[2015-06-08 21:27] kategarklavs commented on #299
That works for me! @yozlet and @adelevie, keep me posted :+1:

[2015-06-08 23:47] esgoodman opened #673 "Add list of possible scopes to /developer documentation"
Integrators want to know upfront what types of information about users does a MyUSA account hold. That also is one of the factors that differentiates us as an LOA1 provider from LOA2+ providers.

Interviews with early-stage integrators [indicate](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint28_agencies-report.md#some-confusion-about-what-information-we-collect) that our cur

[2015-06-09 14:56] mkhandekar commented on #648
We are implementing a ways for visitors to cancel/pause sign in flow throughout the process. Closing this issue.

[2015-06-09 14:56] #648 closed

[2015-06-09 21:58] yozlet commented on #649
Fixed by turning off link tracking in the Mandrill settings (and also open tracking). Now, the link included in the email is an unmodified link to our site rather than going through Mandrill.

@NoahKunin: These tweaks were made to the Default Settings for our Mandrill account. I believe I can do a more specific tweak for MyUSA only, but I'm guessing that the preferred solution is to turn off all p

[2015-06-09 23:09] kategarklavs commented on #673
@esgoodman A clarification question: Does the type of user info a MyUSA account holds vary by partner agency? (It's entirely possible I'm misunderstanding, but I thought each partner could specify scopes.)

I'm happy to add a short paragraph (or bulleted list) describing the types of information common to all accounts — Liz, going to ping you re: timeline.

[2015-06-09 23:28] kategarklavs commented on #670
@esgoodman I am happy to review this copy! In Invision now, and it looks like the most recent screens are from yesterday — once the newest screens are up, I'll start commenting :)

[2015-06-09 23:29] kategarklavs commented on #628
Howdy! Have the Twitter-related updates been made? cc @jackiekazil

[2015-06-10 01:46] NoahKunin commented on #649
So very right! Re-testing now.

[2015-06-10 16:04] harrisj opened #675 "Integrators should provide custom explanations why they are requesting scopes from the user"
In the [new wireframes for login flow](https://projects.invisionapp.com/share/D338FOU9G#/screens), each scope requested by Integrators has an accompanying _Why?_ link that pops up a short explanation of why the integrator needs that field. There is currently no place in the backend for storing this information. Adding this would involve the following steps:

* [ ] Write a migration to add the info

[2015-06-10 16:08] adelevie commented on #675
We should also have default values for these, right?

[2015-06-10 16:10] harrisj commented on #675
Agreed. That would mean an additional migration to the `oauth_scopes` table to add a default explanation or whatever is the proper name for one of these fields.

[2015-06-10 17:34] kategarklavs commented on #670
@esgoodman and @mkhandekar Just added some notes/suggestions to the new front page designs (which look awesome). Happy to discuss in more detail, too :)

[2015-06-10 22:13] yozlet commented on #649
Note that you'll still see an HTTP link (but going straight to MyUSA, not Mandrill) in mails from staging until #674 merges.

[2015-06-11 00:25] esgoodman commented on #670
Changes are made, with a few issues to be resolved by Friday.
On Jun 10, 2015 10:34 AM, "Kate Garklavs" <notifications@github.com> wrote:

[2015-06-11 18:05] harrisj commented on #573
This should be fixed in 8fc9a1d8333f58490d47da887b1f685cd0ca665d. A related issue was Mandrill was rewriting all email links to do clickthrough tracking and that has also been disabled.

[2015-06-11 19:36] konklone commented on #650
From https://github.com/18F/myusa/issues/573#issuecomment-111225286:

[2015-06-12 07:18] afeld opened #676 "Option to force user into connecting with Google"
The use case:

Communicart is a tool for approval workflows, which for the forseeable future will only be used by GSA employees, who all have Google accounts for work. I've seen users be confused about whether they should "Connect with Google" or type in their email address, though the former is probably easier for them since they would presumably be logged into Google already (on their desktops,

[2015-06-15 17:14] adelevie opened #678 "Fix API for benefits.gov"
According to Mike from benefits.gov (Balasanyan.Mikhail@dol.gov), the Tasks API isn't saving the `url` attribute (on the `Task` model), and not saving `external_id` on the `TaskItem` model.

cc @harrisj

[2015-06-15 17:21] yozlet commented on #625
We have https://staging.my.usa.gov/ up and running with migrated data from old AWS staging. @jackiekazil is emailing all integrators and telling them to use that new address.

@NoahKunin, do we still need to repoint myusa-staging.18f.gov at the ELB? (We currently have an ELB for staging.my.usa.gov) Right now it's CF-native.

[2015-06-15 17:31] esgoodman commented on #670
Making a new ticket aimed at coding.

[2015-06-15 17:31] #670 closed

[2015-06-15 17:43] yozlet commented on #650
Fixed in #674, merged.

[2015-06-15 17:57] adelevie commented on #675
Bonus points if these are editable via API.

[2015-06-15 18:03] jackiekazil commented on #676
We are making updates to the sign in flow stuff -- those will be coming soon. I am going to close this ticket for now. After the updates are pushed and there is a larger CAP user base, let's chat about again.

[2015-06-15 18:03] #676 closed

[2015-06-15 18:23] esgoodman opened #679 "Build new landing page"
As of 06/15, we have a good starting point mocked up. However, sign-in flow and account management are higher priorities, so this is in the backlog for the moment.

Initial documentation in [Invision](http://invis.io/A737JR2TD).

[2015-06-15 19:21] jackiekazil commented on #625
@yozlet, et. al -- integrators have been notified; I cc-ed you on the email. Now, I will do the case down as needed.

[2015-06-15 19:23] jackiekazil commented on #650
@konklone Can you do the accept?

[2015-06-15 19:24] jackiekazil commented on #573
As soon as #650 is accepted and closed, we can close this ticket.

[2015-06-15 19:34] yozlet commented on #650
Note that this fix is currently live on Old (AWS) Staging ( https://myusa-staging.18f.us/ ) but not production (alpha)

[2015-06-15 21:04] konklone commented on #650
@yozlet Has staging been updated with the merged work in #674? I just tried the flow on the staging site, and got an email where the link click was to a `http://myusa-staging.18f.us` URL.

[code]

Because the solution to #649 was to remove the `mandrillapp.com` redirector entirely, I'm honestly not sure how to evaluate #649 and #650 separately anymore. However, both issues reference fixes which ha

[2015-06-16 00:13] esgoodman commented on #675
I'd settle for editable by us for now! But, honestly, this is a change to
the normal permissions help text paradigm for both integrators and users.
So I'm expecting it'll take a few iterations to figure out how  it should
work.

[2015-06-16 13:18] harrisj commented on #675
To be honest, it's an infrequent enough thing to change that it would not
necessarily be a good API requirement. But maybe down the road.

Sent from my iPhone

On Jun 15, 2015, at 8:13 PM, Elizabeth Goodman <notifications@github.com>
wrote:

I'd settle for editable by us for now! But, honestly, this is a change to
the normal permissions help text paradigm for both integrators and users.
So I'm exp

[2015-06-16 20:42] harrisj opened #680 "Apply updates for various Rails CVEs"
Several vulnerabilities in Rails and related libraries were patched today per https://groups.google.com/forum/#!forum/rubyonrails-security. We need to update our Gemfile to fix the issues.

[2015-06-16 20:42] maclover7 opened #681 "[Sec Vuln] Rack and Rails"
Several Rack/Rails CVEs were announced today. Please make sure you upgrade this app or other apps to be secure.

More info can be found here: https://groups.google.com/forum/#!forum/rubyonrails-security

[2015-06-16 20:46] harrisj commented on #680
Duplicate of #681. Clearly, we were filing issues on this at the exact same time. Going to close this one because the other issue is better constructed.

[2015-06-16 20:46] #680 closed

[2015-06-16 20:46] jackiekazil commented on #681
:+1:

[2015-06-16 20:52] harrisj opened #682 "Users are unable to create new applications"
The staging server throws an exception whenever a user attempts to create a new application. The error presented on the page

suggests the issue is an invalid field in the form. But instead, the issue seems to be an error generating the UID and Secret for the application.

[2015-06-16 20:55] adelevie commented on #682
What was that monkeypatch that solved/sidestepped the issue?

[2015-06-16 20:57] maclover7 commented on #681
Would you like me to submit a PR, or is somebody already working on this?

[2015-06-16 21:04] adelevie commented on #681
We're currently assessing which vulns affect us and how to fix each one. That said, if you want to start a PR, that'd be great. Even if we don't merge for some reason, I'm sure it would still be very helpful to us.

[2015-06-16 21:11] adelevie commented on #681
in progress: https://github.com/18F/myusa/pull/683

[2015-06-16 21:35] adelevie commented on #682
Confirmed that this does not affect alpha.my.usa.gov.

[2015-06-16 22:09] harrisj commented on #682
Here is the issue clarified. I am not exactly sure how this worked in the past, but the problem is that the Doorkeeper::ApplicationMixin generates [new application IDs and UIDs for a new application with a callback on creation](https://github.com/doorkeeper-gem/doorkeeper/blob/8b59c77ca2324b747ab0570b47f6d14df62fbcc8/lib/doorkeeper/models/application_mixin.rb#L17)

[code]

The idea is that the cod

[2015-06-16 22:22] mkhandekar commented on #617
Draft 3 of the Make an Account & Sign In flow design is on **[Invision with comments & feedback](http://invis.io/EK3AOT0C7)**, and a couple of key screens are below.

### Goals for user flow:

#### 1) Increased clarity and speed of making an account and signing in.

The new flow reduces choices, and necessary choices are clearly articulated.

*  **Integration of external IdPs** (Google, LinkedIn,

[2015-06-16 22:53] esgoodman commented on #679
Duplicate. Closing.

[2015-06-16 22:53] #679 closed

[2015-06-16 23:12] esgoodman commented on #665
@mkhandekar I feel like we've completed this task and have built the learnings into a [new landing page](https://projects.invisionapp.com/d/#/console/2318574/82558831/preview) and more [documentation tasks](https://docs.google.com/a/gsa.gov/document/d/1YD9Ag_l_fIdSoBIM6a0rKrZyPE6jSCd-A-6ugVQUX4c/edit?usp=sharing) (such as #673). If you agree, please close!

[2015-06-16 23:15] esgoodman commented on #673
@kategarklavs  -- A bulleted list would work fine. Each partner agency can request different types of data from MyUSA. However, in researching potential sign-on tools partners are looking for information about all the possible types of data they could get via API.

[2015-06-16 23:17] esgoodman commented on #663
@mkhandekar, if you feel like this is resolved in your new sign-in flow version, please close!

[2015-06-18 18:36] yozlet commented on #650
Sorry - looks like certain fixes didn't get auto-deployed to Old Staging as I thought they would. However, it's definitely fixed on New Staging (just tested).

[2015-06-18 19:49] NoahKunin commented on #625
For the sake of the ATO, I can live with the idea that we aren't creating any more *.18f.us endpoints or whatever. If / once that's the case, we're good, and then 18f.us can fully deprecate over the first 90 days.

cc to @jackiekazil to split into another issue or what have you.

[2015-06-18 21:16] esgoodman commented on #657
# Current status

You can leave comments here or in [Invision](https://projects.invisionapp.com/d/#/console/2318574/84696326/preview)

![image](https://cloud.githubusercontent.com/assets/10067318/8242479/6bd4ca8e-15c4-11e5-8924-7bc7360d7c7c.png)

[2015-06-18 23:03] konklone commented on #650
I can confirm that this is fixed on `staging.my.usa.gov`. :+1:

[2015-06-18 23:08] harrisj commented on #650
Can we close this issue then?

Sent from my iPhone

On Jun 18, 2015, at 7:03 PM, Eric Mill <notifications@github.com> wrote:

I can confirm that this is fixed on staging.my.usa.gov. [image: :+1:]

—
Reply to this email directly or view it on GitHub
<https://github.com/18F/myusa/issues/650#issuecomment-113311946>.

[2015-06-18 23:28] jackiekazil commented on #650
We CAN!

[2015-06-18 23:28] #650 closed

[2015-06-18 23:29] jackiekazil commented on #573
And we can close this one also! YAY!

[2015-06-18 23:29] #573 closed

[2015-06-18 23:37] konklone commented on #573
Thanks for nailing these, y'all!

[2015-06-20 04:04] jackiekazil opened #687 "Decommission MyUSA usage of 18f.us domain"
This is continuation of #625.

Previous work done:
- [x] Make sure no one is spinning up new instances that point to 18f.us myusa staging, since that is being decommissioned.
- [x] Notify points of contact for all staging integrators that a change is on the horizon.
- [x] Notify integrators that they may now update their applications

TODOS:
- [x] Point myusa-staging.18f.gov to the staging ELB
- [

[2015-06-20 04:06] jackiekazil commented on #625
@18F/myusa, @dlapiduz -- I updated this ticket scope after a convo w/ @NoahKunin about what should happen before ATO and what can happen after. The items that can move beyond ATO have been moved to #687, so we can close this.

[2015-06-20 04:06] #625 closed

[2015-06-20 04:08] jackiekazil commented on #639
@yozlet  With the closing of #625, does this mean this is all done also?

[2015-06-22 02:05] harrisj commented on #682
The issue seems to have been with a particular dump of the database that set those fields to default to the empty string. It still isn't clear why that happened.

[2015-06-22 14:47] konklone commented on #618
Just a note that I saw a weird new `*|MC:SUBJECT|*` creep into my email subject from MyUSA today.

![image](https://cloud.githubusercontent.com/assets/4592/8284645/fcb2c3ee-18cb-11e5-82c4-cc6054acb0b8.png)

This is from the `tock.18f.gov` login workflow.

[2015-06-22 17:12] esgoodman commented on #657
Note: this has some changes from the previous version -- they are experimental only, just meant to test ideas. Not necessarily to be implemented.

[2015-06-22 17:22] esgoodman commented on #557
Done: http://invis.io/A737JR2TD

[2015-06-22 17:24] esgoodman commented on #547
Done for now. https://projects.invisionapp.com/d/main#/console/2318574/82558829/preview

[2015-06-22 17:25] esgoodman commented on #325
I think this is done. http://invis.io/A737JR2TD

[2015-06-22 18:18] jackiekazil commented on #649
@yozlet @NoahKunin can we close this?

[2015-06-22 18:19] esgoodman commented on #523
Closed and moved to https://github.com/18F/myusa-ux/issues/11

[2015-06-22 18:19] #523 closed

[2015-06-22 18:58] esgoodman commented on #596
Note that it's not only small business owners but also employees...

[2015-06-22 19:19] jackiekazil opened #688 "Address content needs missing from Developer docs"
@esgoodman did some awesome research documented here:
https://docs.google.com/document/d/1YD9Ag_l_fIdSoBIM6a0rKrZyPE6jSCd-A-6ugVQUX4c/edit#heading=h.iqnaggqu7b6u

This is going to result in a bunch of updates to our developer docs. Please add them to this ticket, so we can keep track of them.

/ @mkhandekar, @esgoodman

[2015-06-22 20:16] jackiekazil commented on #547
:+1:

[2015-06-22 20:16] #547 closed

[2015-06-22 20:16] jackiekazil commented on #547
I just want to say that this work makes me so happy. It is well done. :-)

[2015-06-22 20:17] jackiekazil commented on #325
:+1:

[2015-06-22 20:17] #325 closed

[2015-06-22 21:24] konklone commented on #649
This is resolved on staging in my testing.

[2015-06-22 21:56] jackiekazil commented on #649
YAY! I am closing!

[2015-06-22 21:56] #649 closed

[2015-06-22 22:09] jackiekazil commented on #627
YAY! This is done.
myusa-support@googlegroups.com
https://groups.google.com/forum/#!forum/myusa-support
^^ @harrisj @yozlet @esgoodman @mkhandekar @adelevie @juliaelman  --- Please join.

[2015-06-22 22:09] #627 closed

[2015-06-22 22:16] harrisj commented on #678
See the https://github.com/18F/myusa/pull/685 pull request

[2015-06-23 18:56] jackiekazil commented on #639
Yes..... yes..... we will close this.

[2015-06-23 18:56] #639 closed

[2015-06-23 19:39] mollieru commented on #661
Just to chime in, myself and many of my colleagues at USDS have been having struggles with the MyUSA onboarding. We seem to be going through lots of sign in loops and are unable to access any MyUSA pages with our @omb.eop.gov accounts outside of our network (which is often limiting given that we're working in multiple agencies).  Our hack has been to sign up with other non-official email addresses

[2015-06-23 19:47] NoahKunin commented on #661
Thanks Carolyn! In general, overreactive Government spam filters and
network proxies cause havoc with multiple modern technologies (well, in the
case of email, not so modern).

There's nothing we can do on that front, other than to get white-listed
ahead of time. If OMB is also blocking us (either via email or at the
network level) then we need to talk to them.

On Tue, Jun 23, 2015 at 3:39 PM, mo

[2015-06-23 20:37] jackiekazil commented on #578
Closing this. There seems to be no further action to take at this time.

[2015-06-23 20:37] #578 closed

[2015-06-23 20:43] phirefly opened #690 "GSA users are not able to login to MyUSA on a mobile device"
When logging in through a mobile browser, a GSA user that authenticates with their ENT password cannot login with MyUSA. After entering their password, they are brought back to the login page (the page with the Login with Google button)

Found on iPhone + Safari (not tested on Android)

[2015-06-23 20:46] adelevie commented on #690
FWIW, I could log in on my Android.

[2015-06-23 20:47] phirefly commented on #690
@adelevie I'm assuming Chrome?

[2015-06-23 20:49] adelevie commented on #690
Yep. Most importantly, I feel that this issue lies with the way GSA authenticates users for Google Apps and is largely our of MyUSA control.

Can users log in with their email addressed instead?

[2015-06-23 20:56] phirefly commented on #690
yes, sorry, updating the story. Not able to auth with MyUSA to our app at c2-staging.18f.gov

[2015-06-23 21:01] phirefly commented on #690
Success on Chrome + iOS for me

[2015-06-24 00:30] yozlet opened #691 "Should we have "Preferred/Display Name" field in profile?"
Given that people will see "First/Last Name" as legal name, but may have preference for how UI refers to them.

Will also need strong guidance in developer docs about how integrators should use this in their UI.

(based on ideas from http://opensourcebridge.org/sessions/1669 )

[2015-06-26 21:47] yozlet opened #693 "Raphy's GSA account doesn't follow app redirects on login in certain browsers"
@phirefly is trying to sign in to [c2-staging](https://c2-staging.18f.gov/) using different iOS browsers. On Safari, when using email login (not Google) to c2-staging, his sign in process drops him out _not_ at the c2 front page as intended, but at the MyUSA "Personal Details" page. When he logs in with his personal email, it takes him to the c2 front page. Why?

[2015-06-29 15:12] juliaelman commented on #669
@esgoodman we can close this one, right?

[2015-06-29 16:16] esgoodman commented on #669
Yes.
On Jun 29, 2015 8:12 AM, "Julia Elman" <notifications@github.com> wrote:

[2015-06-29 16:23] #669 closed

[2015-06-29 17:14] jackiekazil opened #694 "Create 24/7 support plan"
Jackie will create a draft, then everyone else will take a tear it apart.

[2015-06-29 17:23] jackiekazil commented on #665
:+1:

[2015-06-29 17:23] #665 closed

[2015-06-29 17:31] jackiekazil commented on #693
Possibly related? but not certain -- #690  (according to Yoz)

[2015-06-29 17:39] jackiekazil commented on #623
Reassigning to jacob --- @adelevie please do a brain dump as needed.

[2015-06-29 17:39] yozlet commented on #681
At this point I suspect we should jump straight to 4.2.latest instead. (4.1.12 also just came out, and I believe it still hasn't fixed the polymorphism bug)

[2015-06-29 17:55] juliaelman commented on #655
Since #638 has been closed, should this be closed too?

[2015-06-29 18:16] jackiekazil commented on #524
@esgoodman to update! :-)

[2015-06-29 18:19] harrisj commented on #675
One other consideration: the `oauth_applications` table is created by a migration within the Devise plugin, so it's probably ill-advised to significantly alter that table's schema as I proposed would be better.

[2015-06-29 18:23] esgoodman commented on #608
Screenshot of the permissions screen as finally built by @juliaelman ![screenshot of the current build](https://cloud.githubusercontent.com/assets/1598889/7518684/66e450ac-f4aa-11e4-9d42-5839fb61a90a.png)

[2015-06-29 18:24] esgoodman commented on #617
## Working page at devel as of 06/29

![screenshot of the current build](https://cloud.githubusercontent.com/assets/1598889/7518684/66e450ac-f4aa-11e4-9d42-5839fb61a90a.png)

[2015-06-29 18:47] jackiekazil opened #695 "Add the lat & long for an address using Census geocoder"
Add the lat & long for an address using Census geocoder
https://www.census.gov/geo/maps-data/data/geocoder.html

This is going to require a bunch of changes, so this should be planned out first. My first thought is to do the ping, get the lat & long, store it, then make it available in the API.

The purpose of this is so our users don't do this individually and help computational processes on the

[2015-06-29 19:36] esgoodman commented on #655
Believe this is more of a policy issue: should there be any required scopes
that users cannot turn off?

[2015-06-29 21:31] esgoodman commented on #524
Moved to UX repo: https://github.com/18F/myusa-ux/issues/12.

[2015-06-29 21:31] #524 closed

[2015-06-29 22:39] esgoodman commented on #495
Moved to myusa-ux repo and disambiguated into [#13](https://github.com/18F/myusa-ux/issues/13) and [#14](https://github.com/18F/myusa-ux/issues/14).

[2015-06-29 22:39] #495 closed

[2015-06-30 00:11] harrisj commented on #646
Seeing this text now when testing on the devel branch:

Looks like this has been fixed.

[2015-06-30 00:11] #646 closed

[2015-06-30 13:20] harrisj opened #696 "Rake tasks to dump and load the database tables"
Given some of the recent schema issues identified in #682 and a potential need to rotate the database encryption key, there should be methods to dump a plaintext, **unencrypted** version of the database to load it to a new destination with a possibly different key. Such dumps could also be encrypted and backed up to S3, should we want that as an option. Of course, since this dump will not be encry

[2015-06-30 14:23] harrisj commented on #682
Assigning this to @yozlet to match pull request #684

[2015-06-30 15:11] harrisj commented on #678
Currently this is passing its tests but it does not actually work when I attempt to do it manually. The nested attributes for `task_items` do not seem to be loaded. I actually would propose that we modify the API slightly to make modifying task_items use it own RESTful routes scoped to the task the items belong to. So, instead of doing a PUT or a POST with the task_attributes, you would do this:

[2015-06-30 17:38] esgoodman commented on #617
Wait! My misunderstanding. ^^^ Above is incorrect. NOT screenshots. Comps.

[2015-06-30 20:53] esgoodman opened #697 "Create an accessible, shared working prototype"
In order to see MyUSA in action, each person now has to set it up locally. That's a lot of duplicated effort, and will probably introduce inconsistencies among different team members' configurations. As part of the prep work this sprint for a big front-end push at the end of the week/next sprint, it would be great to have get a working test app easily accessible to the whole team.

[2015-06-30 21:01] esgoodman commented on #622
Done. See [Invision comp](http://invis.io/4D3FM718C).

[2015-06-30 21:01] #622 closed

[2015-06-30 21:07] esgoodman commented on #697
To clarify: the goal here is to test the sign-in flow, for which we need a test app to sign into. Right now, signing in at staging just routes me to the account management site.

[2015-06-30 23:08] yozlet commented on #678
It's disturbing that tests pass despite it not actually working. Any ideas why?

[2015-07-01 01:07] yozlet commented on #678
I think the API improvement's a good idea. Bear in mind it's a separate issue to this one, and we may want to save it for when we have actual UI for Tasks, but otherwise :+1:

[2015-07-01 01:47] harrisj commented on #623
The Consent screen settings for MyUSA in [the Google Developers Console](http://console.developers.google.com) was pointing to a staging URL that was no longer there. Once @yozlet fixed to point to the proper image location like so

![consent_screen_-_myusa](https://cloud.githubusercontent.com/assets/2044/8445864/a5f78778-1f70-11e5-9467-ea5e16045c0d.jpg)

The image then showed up once I disabled M

[2015-07-01 02:01] jackiekazil commented on #623
Ty @harrisj!
@ultrasaurus can you (or other midas rep do the accept on this?)

[2015-07-01 02:03] harrisj commented on #678
@yoz, no idea yet why the tests work but my manual tests fail, but it's possible that it's an issue with how the tests are written. I wonder if they are also bypassing some security mechanism that is being triggered for the nested attributes in my tests.

[2015-07-01 02:23] jackiekazil commented on #623
^^ @dhcole

[2015-07-01 14:59] juliaelman commented on #697
@esgoodman just talked with @mkhandekar and @harrisj about creating this new instance for testing. we're going to hold off on this work for now, but think it's a great idea for us to implement in the future! :rocket:

[2015-07-01 14:59] #697 closed

[2015-07-01 17:12] mkhandekar opened #698 "Sign In Flow — to code"
We discussed and iterated through the sign in flow in #617. Here are the screens to be coded for the sign in flow by @juliaelman & @harrisj. **[Sketch files are here](https://drive.google.com/open?id=0B4yIa0Upv1JJdjA0Ni0wQUVmTzA)**.

- [ ] @mkhandekar @esgoodman determines how to best to make integrators aware of style recommendations for login modals.
- [x] @mkhandekar @esgoodman create new layou

[2015-07-01 18:44] esgoodman commented on #596
[Script here](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint33_small-business-script.md). Feel free to comment on the last commit.

[2015-07-01 18:48] esgoodman commented on #596
[Analyzing data in mural.ly](http://mur.al/bJ0qBg9D). Please ask me for the edit link or offer comments below.

[2015-07-01 23:55] yozlet opened #699 "Auto-deploy devel to Cloud Foundry staging"
When MyUSA Staging was on native AWS, we had Snap CI set up to auto-deploy using Shipper. Now that we've moved to CF, we want the CI to automatically `cf push` successful builds to staging.

[2015-07-01 23:57] yozlet commented on #699
Our Snap config now has a DEPLOY stage that runs these commands:

[code]

At present these are triggered manually (though it only takes a single click)

[2015-07-02 13:44] harrisj commented on #678
I figured out the issue! The tests were posting JSON that looked like this

[code]
which Rails translated into parameters to the controller method like so
[code]
This does what we would expect, creating both the task record and its associated subtasks. But, in my manual tests, I was actually posting this JSON to the controller method (following an issue flagged by a MyUSA alpha user):
[code]
Note

[2015-07-02 13:49] jackiekazil commented on #678
YAY!

On Thu, Jul 2, 2015 at 9:44 AM, Jacob Harris <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2015-07-02 14:07] harrisj commented on #678
Okay, I found why Rails is doing this. It's part of the normal behavior of [wrap_parameters](http://guides.rubyonrails.org/action_controller_overview.html#json-parameters) which we had enabled in an initializer:

Following a reference to [Rails' ParamsWrapper](http://api.rubyonrails.org/classes/ActionController/ParamsWrapper.html), it looks like I can tell it explicitly which top-level params to c

[2015-07-02 14:20] harrisj commented on #678
Applied fix to Pull Request #685

[2015-07-02 20:59] yozlet commented on #678
Wow, well done!

[2015-07-03 01:06] jackiekazil commented on #678
:+1: :star2: :us: :star2:

[2015-07-06 17:24] yozlet commented on #632
It's not *needed*, but we have the start of one now (based on https://github.com/18F/cloud-foundry-manifests/blob/master/provisioning/elb.json ) and it's what we're using for staging and production. I'm adding ElastiCache too.

@dlapiduz @ozzyjohnson: Where should we keep & version the CFN template? I'm guessing it should be somewhere private.

[2015-07-06 17:27] yozlet commented on #699
Just to add the reason for the manual (as opposed to automatic) deploy: Snap CI tries to run all stages (including, for some reason, deploy stages) when doing pull request tests. This is clearly a bad thing to do, so I'm going to investigate further.

[2015-07-06 17:45] jackiekazil commented on #623
This is complete. @ultrasaurus - if this isn't working for you please reopen.

[2015-07-06 17:45] #623 closed

[2015-07-06 17:47] #682 closed

[2015-07-06 17:48] harrisj commented on #682
This will also become part of a [future doorkeeper release](https://github.com/doorkeeper-gem/doorkeeper/pull/683)

[2015-07-06 17:56] #678 closed

[2015-07-06 17:57] jackiekazil commented on #618
Done

[2015-07-06 17:57] #618 closed

[2015-07-06 18:10] esgoodman commented on #604
Progress update: 2/3 done.

[2015-07-06 18:18] jackiekazil commented on #672
@juliaelman -- is this a dupe of something else? (I feel like this might already exist and you are working on it?)

[2015-07-06 18:26] juliaelman commented on #672
@jackiekazil I could not find a dupe of this in the existing open issues. AFAIK, this is on hold to prioritize the sign in flow work.

@esgoodman @mkhandekar are there completed/finalized screens for the updated landing and learn more pages? If so, would you mind adding the final version of those to this issue?

[2015-07-06 20:22] dhcole commented on #623
Thanks @jackiekazil and team myusa. I believe that resolves our issue.

[2015-07-06 23:02] yozlet commented on #636
@NoahKunin: Oops, sorry for the slow response!

Here is the awful code in question: https://github.com/18F/myusa/blob/a2f9371ec7ed86c16b6d3249479ea6e676404834/lib/two_factor/model_mixin.rb#L7-L14

See the comments for cause and fix. After the 4 options listed in the issue description, I went for option 5 (paper over the problem while loudly whistling). In practice this solution is _probably_ the b

[2015-07-06 23:27] yozlet commented on #662
https://github.com/18F/cloud-foundry-notes/pull/70

[2015-07-07 14:20] dhcole commented on #671
I experienced this today. I was able to reproduce it twice.

- Select sign in with email
- enter email address and submit the form
- wait > 5 minutes for access link email
- clicked "request another link"
- two emails came through within the next minute

Is there some sort of queueing happening that sends the mail messages out in batches?

Not sure of how much of a priority this is for you, but we

[2015-07-07 14:21] dhcole commented on #671
Also, this was tested incognito, so avoid any persistent session data.

[2015-07-07 16:49] monfresh commented on #636
Are you sure your asset precompilation is working? I cloned this repo just now and when I try to precompile the assets locally (after setting the proper env vars), it's failing due to a [known issue with using `validates_acceptance_of` with virtual attributes](https://github.com/rails/rails/issues/11853). If I comment out all `validates_acceptance_of`validations, precompilation works fine, even wh

[2015-07-07 17:57] gbinal opened #700 "Add API Documentation to Site"
Suggest spinning up https://my.usa.gov/developer (with a redirect from https://my.usa.gov/developers) to serve as a home for the [API documentation](https://github.com/18F/myusa/tree/devel/api_docs).

[2015-07-07 17:59] gbinal commented on #700
Ah - I had missed https://alpha.my.usa.gov/developer.  Nevermind!

[2015-07-07 17:59] #700 closed

[2015-07-07 18:03] harrisj commented on #698
Here's a look at the Routes that currently exist and associated views that would have to be edited:

1. The email signin for MyUSA (not to be confused with email/password signin for application) form is rendered by the `sessions_controller#new` method (part of the Devise gem, **not** in the application). This renders [a login form that allows user to toggle between email or Google signin](https://

[2015-07-07 18:04] yozlet commented on #636
Wow, thanks @monfresh, I hadn't realised that was the problem. I'll give that a go.

[2015-07-07 18:15] harrisj commented on #698
Just wanted to confirm something with @mkhandekar and @esgoodman. If the user navigates directly to the MyUSA login screen (ie, [alpha.my.usa.gov](https://alpha.my.usa.gov/) after you have logged out), do we want to show them this exact same new layout for the *Log in at MyUSA* and the *almost there/resend email* screens? Or are their important differences for those screens on an application-direc

[2015-07-07 22:26] yozlet commented on #636
Initial investigation suggests that the problem is a slightly different (but related) one - the fields in the validations are real, not virtual.

The compilation problem _is_ fixed by adding `attr_accessor` declarations, but since the fields in question are real DB fields, it has the unfortunate side-effect of clobbering some of the ways of setting those values. This may only affect tests rather t

[2015-07-08 13:08] monfresh commented on #636
Agreed. It was premature of me to suggest using `attr_accessor` for real fields as well. According to the comments in the Rails issue I linked to, this Rails bug only happens with virtual fields, so there must be something else that is affecting real fields.

However, taking a step back, I would question whether `validates_acceptance_of` is really needed and/or whether a database column is really

[2015-07-08 13:58] monfresh opened #702 "Determine whether Resque log content needs to be filtered."
Currently, the Resque logs contain the OTP code and the email address of the recipient. A typical entry looks like this:
[code]

Is it OK to display email addresses in the log?

If not, we could use a custom log formatter, like this:
[code]
and use a `gsub` with a regex or other method on `msg` to mask the email address.

[2015-07-08 13:59] monfresh commented on #702
Oops! Wrong repo!

[2015-07-08 13:59] #702 closed

[2015-07-08 15:53] dhcole opened #703 "Document /oauth/authorize vs /users/sign_in"
We've been using `https://alpha.my.usa.gov/oauth/authorize` as our authorization URL. As part of troubleshooting an issue, I noticed that this endpoint doesn't seem to be documented (https://alpha.my.usa.gov/developer).

Instead, the docs point to `https://my.usa.gov/users/sign_in?client_id=ABCD`. When I try that endpoint on the alpha server though (`ttps://alpha.my.usa.gov/users/sign_in?response_

[2015-07-09 00:49] yozlet opened #704 "Limit availabilty of all MyUSA deployments to Federal staff"
As @NoahKunin has pointed out, no MyUSA deployment should be publicly accessible until ATO is given. So we need to limit availability of production, staging and any other deployments to Federal agency staff, authenticating with IP whitelist and HTTP auth.

Is there an easy Cloud Foundry way of doing this?
If not, we can put a `before_filter` on the ApplicationController.

[2015-07-09 13:10] monfresh opened #705 "Security issue: jquery-rails and doorkeeper gems are vulnerable due to being out of date"
I added myusa to our Gemnasium account and it reported 45 out-of-date dependencies, 2 of which are resulting in 10 security alerts: jquery-rails and doorkeeper.

Please update them as soon as you can.

I can also add you to the Gemnasium account so that you can periodically check on the status of the project. Send me an email with the email addresses of the people you would like to give access to.

[2015-07-09 15:39] monfresh commented on #705
I just realized that you don't actually need an account to view Gemnasium reports for open source repos. Here is the myusa project page: https://gemnasium.com/18F/myusa

You can also view all 18F public repos here: https://gemnasium.com/18F/

[2015-07-09 16:54] esgoodman commented on #704
Please remember to throw a good error message for the (admittedly, now
infrequent) case of an integrator with users who are not federal employees!

[2015-07-10 16:34] harrisj commented on #705
This fix was merged into devel. Will monitor other things that Gemnasium has flagged

[2015-07-10 16:34] #705 closed

[2015-07-10 18:21] harrisj commented on #703
According to a comment in the `routes.rb` file

I will investigate further, but it seems to be something that should be working and not redirecting.

[2015-07-11 00:15] harrisj commented on #703
Actually, it looks like I am wrong. I've tested out a local flow that starts by going to `/oauth/authorize?client_id=&redirect_uri=http%3A%2F%2Flocalhost%3A9292%2Fauth%2Fmyusa%2Fcallback&response_type=code&scope=profile.email+profile.first_name+profile.last_name&state=REDACTED` and it seems to start the process and then redirects to `/users/sign_in`

I think the flow we're doing [is the basic auth

[2015-07-11 00:29] dhcole commented on #703
Yes that's what I see too. Thanks for looking into this.

The issue is that endpoint is not documented. The one that is
(/users/sign_in) breaks the flow by taking the user to their MyUSA profile
instead of back to the client application.

On Friday, July 10, 2015, Jacob Harris <notifications@github.com> wrote:

[2015-07-11 02:32] harrisj commented on #703
How much do we want to be walking people through the OAuth2 flow vs. just encouraging them to use third-party libraries like omniauth instead

[2015-07-13 17:31] esgoodman commented on #657
Folding this into #698. Any structural revisions are iceboxed until we complete a first round of code on every other touchpoint.

[2015-07-13 17:31] #657 closed

[2015-07-13 17:32] mkhandekar commented on #657
Closing this & following up adjustments/changes in #698.

[2015-07-13 17:34] esgoodman commented on #656
A component of #688, as any styleguide would live in developer docs.

[2015-07-13 17:35] mkhandekar opened #711 "Account Management"
#### Sprint 22's [Midas + MyUSA in-house usability tests](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint22_research-results.md#myusa-auth-screen-editing-permissions) tell us that:
* to be written

**Current account management: profile, applications, 2FA**
* [Notes & feedback on invision](http://invis.io/HK3FPBVUW)
* [Consolidated & categorized notes & feedback](https://docs.

[2015-07-13 17:38] jackiekazil commented on #703
Related to #690 & #693?

[2015-07-13 17:46] yozlet commented on #687
Done! The myusa-staging CloudFormation stack has been deleted, along with all myusa records in 18f.us (with the exception of myusa-scanee, just in case, but we can delete that soon)

[2015-07-13 17:46] #687 closed

[2015-07-13 17:51] esgoodman commented on #673
Subsumed into #688.

[2015-07-13 17:51] #673 closed

[2015-07-13 18:01] esgoodman commented on #604
Deprioritized for now. Will re-open if and when it becomes part of a team push.

[2015-07-13 18:01] #604 closed

[2015-07-13 18:23] esgoodman commented on #711
Walking through with 18F users today/tomorrow.

[2015-07-13 22:48] jackiekazil commented on #596
@esgoodman to update and close.

[2015-07-14 04:19] esgoodman commented on #596
[Read the report](https://github.com/18F/myusa-ux/blob/master/research/usability/sprint33_small-business-results.md)

[2015-07-14 04:19] #596 closed

[2015-07-14 17:23] harrisj commented on #690
@phirefly Just to clarify this one, are you trying to log into MyUSA (to see your account for instance), or log in to another app on mobile via MyUSA (ie, _authorization_)?

[2015-07-15 22:46] dhcole opened #712 "Help with troubleshooting an error"
I seem to be getting this error now when authenticating with a new email address on my "Midas Local" application:

`Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method.`

The URL after the Google account selection screen is: `https://alpha.my.usa.gov/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A1337

[2015-07-16 00:17] jackiekazil commented on #628
This is complete.

[2015-07-16 00:17] #628 closed

[2015-07-16 14:27] phirefly opened #714 "Passing back group information for a new user back to the application"
Is there currently a way for a MyUSA signup to inform our app that the new signup is of a certain type? e.g. It'd be great for 18F signups to be automatically tagged in our system as 18F. One approach could be that we give people a special url like `https://alpha.my.usa.gov/18fsignup`. If they sign up there, it can pass something back to our app, so that we to automatically update them as an 18F u

[2015-07-16 21:30] yozlet opened #715 "Make client auth error less ludicrously ambiguous"
Some users may get this remarkably unhelpful error when authenticating:
`Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method.`

Firstly, each of those failure conditions should get its own error message.

Secondly, in the case of #712, the error _actually_ occurred because the app was set to Private, and the user was logging i

[2015-07-17 02:52] harrisj commented on #675
The approach using a separate application_scopes model seems more viable and only a little bit of emulation of the `Doorkeeper::Models::Scopes` mixin methods. The only thing left to do is the input form for integrators to specify the reasons.

[2015-07-17 02:56] harrisj opened #716 "We should upgrade to Doorkeeper 2.2"
Currently, the application is using a version 1.4 of the Doorkeeper gem. This line is still supported and has been upgraded when security problems were exposed, but I think we'll want to move to v2.2 at some point.

[2015-07-17 20:20] esgoodman opened #717 "Edit text for dummy app"
Thanks for the new app, @yozlet. I took a look at it and have two quick text edits to request just to give that page more context in case anyone who isn't on the team comes across it.

- [ ] Change name of "Dummy app" to "Sample app"
- [ ] Add a line of text above the MyUSA login button that says:

[2015-07-17 22:59] yozlet commented on #632
This is basically done, except I still don't have a standard place to store it. The CFN template sets up the ELB and ElastiCache but not MySQL (because we should probably keep that manually managed for the moment)

[2015-07-17 23:16] yozlet commented on #632
Based on @ozzyjohnson's suggestion, the template now has its own private repo: https://github.com/18F/myusa-cfn

[2015-07-17 23:16] #632 closed

[2015-07-17 23:17] yozlet commented on #699
OK, given that a single extra click for deployment seems to be _Just Fine_ for people, I'm calling this Done.

[2015-07-17 23:17] #699 closed

[2015-07-18 00:22] esgoodman commented on #688
Added list of possible scopes (and advice for using them) to docs. Will send to Writing Lab and then issue a PR.

[2015-07-20 02:38] harrisj commented on #714
It looks like instead of providing some sort of passthrough mechanism, the easiest approach would for the calling application to provide an additional argument within the callback URL, so it would be something like `YOUR_SITE/auth/myusa/callback?type=18f`. I think this would work. Want to try it out?

[2015-07-20 13:58] harrisj commented on #712
Closing since this specific issue was resolved.

[2015-07-20 13:58] #712 closed

[2015-07-20 15:42] afeld commented on #714
@phirefly The core issue here seems to be: do we trust the users to accurately self-identify?

[2015-07-20 15:54] harrisj commented on #714
That is another issue, but I would like to figure out the authoritatively correct way for clients to put passthrough params in an Oauth 2 authorization flow

[2015-07-20 17:45] jackiekazil commented on #629
closing ... reopen later if needed.

[2015-07-20 17:45] #629 closed

[2015-07-20 17:49] yozlet commented on #681
So @monfresh fixed this for us in #707 (yay @monfresh!)

We still need to upgrade to Rails 4.2 at some point soon. Opening a separate ticket for that.

[2015-07-20 17:49] #681 closed

[2015-07-20 17:50] yozlet opened #718 "Upgrade Rails to 4.2"
... so we don't get left behind.

[2015-07-20 17:56] dhcole commented on #712
Thanks for your help!

[2015-07-21 14:39] harrisj commented on #696
Pull request #719 is now ready for review

[2015-07-21 14:53] harrisj commented on #693
I just tried this and it took me through to Communicart front page. I can't reproduce right now. Closing, but please open if issue seems to have reappeared.

[2015-07-21 14:53] #693 closed

[2015-07-21 15:05] harrisj commented on #690
Sorry, I just tried this and it worked for me now, but I see the problem described above. The issue is that sometimes the GSA authentication does not allow mobile logins from Google (I've experienced trying to setup third-party calendar apps on my phone). I'm not sure if we should not even show the Google login, but this is outside the scope of what we can do within MyUSA. Closing it for now unles

[2015-07-21 15:05] #690 closed

[2015-07-21 15:31] jackiekazil opened #720 "Analyticize MyUSA"
Add 18f analytics and DAP to myusa coming soon page & alpha. (For simplicity, we are just going to use one.) These should be added to the bottom of the page.

### 18F
[code]

### DAP
Download [DAP script](https://raw.githubusercontent.com/digital-analytics-program/gov-wide-code/master/Universal-Federated-Analytics-Min.js) & add to repo, then point to local DAP script. (Update the path in the scrip

[2015-07-21 15:32] jackiekazil commented on #276
#720 succeeds this ticket.

[2015-07-21 15:32] #276 closed

[2015-07-21 15:32] jackiekazil commented on #620
#720 Supersedes this ticket.

[2015-07-21 15:32] #620 closed

[2015-07-21 16:14] esgoodman commented on #720
Yay. Thank you.

[2015-07-21 16:16] esgoodman commented on #693
Should we try to add some guidance in an error message? I hate leaving
people thinking that it's MyUSA when actually it's a GSA thing that we
don't control.

[2015-07-21 16:26] harrisj commented on #691
I would like to add my support to my issue. I've been looking a lot at the scopes we have for names and they're definitely for a programmer's mentality of _break down to smallest components so I can assemble possible name variants from them_ rather than a utilitarian sense of _my familiar name for friends_, _my formal name for forms_, etc. I think it would be good if we can figure out what the rig

[2015-07-21 18:36] #720 closed

[2015-07-22 19:32] jackiekazil commented on #664
Fixed w/ this PR https://github.com/18F/data-private/pull/114

[2015-07-22 19:32] #664 closed

[2015-07-22 23:20] yozlet commented on #717
We say that none of their information will be saved, but if they enter their Last Name we'll save it in their profile on Alpha, won't we?

[2015-07-23 00:04] esgoodman commented on #717
My understanding of that line is that any information users of the sample
app give over, including email, would be deleted right after they're signed
in. Correct?

[2015-07-24 12:38] juliaelman opened #723 "Move /redesign to be the new homepage"
This pull request moves the updated homepage layout created here https://github.com/18F/myusa/pull/580 to be the new homepage, with the "Learn More" link removed in the hero portion of the page.

[2015-07-24 14:08] juliaelman commented on #723
@esgoodman @mkhandekar a few questions, based off of the following screenshot:

1) For the new homepage, the navigation layout has a link to "Contact Us". Since the new homepage layout removes the contact us form, where should this link go?
2) The navigation has "My Dashboard" to the far right. Should this be changed to something else when the user is logged out?

<img width="1103" alt="screen sho

[2015-07-24 16:04] harrisj opened #724 "Instructions for generating API documentation are outdated"
In addition, the current mechanism seems to be incompatible with the most recent release of Aglio. I need to fix to reflect changes to Task API

[2015-07-24 16:48] harrisj commented on #691
Gender is another field we should probably have a discussion about. I guess the question I am wondering with some of these additional fields is should we consider the difference between I am vs. I am applying in programs for...

[2015-07-24 18:40] esgoodman commented on #691
My current understanding, based on a couple of conversations with
integrators, is that they work on the assumption that the MyUSA account
does not necessarily belong to the person for whom an application might be
filed. There's also the question (currently unresolved) of (a) whether a
MyUSA account can belong to a corporate entity (such as a small business)
rather than a single human, and (b) if s

[2015-07-24 22:41] jeremiak opened #725 "Email login form lacking tabindex"
The login by email address form is lacking a tabindex so the browser simply goes in the order by which the elements appear in the DOM:

0. Email address text input field
0. Submit button
0. "Remember me" checkbox

I think that the forms should have a reasonable tab index for users who don't use a mouse very often. The general pattern I see across the web would be:

0. Email address text input fiel

[2015-07-27 17:53] jackiekazil opened #728 "Code / create draft of 'contact us' page"
Required for #723.

[2015-07-27 17:59] esgoodman commented on #663
Closed. Superceded by new design.

[2015-07-27 17:59] #663 closed

[2015-07-27 18:08] esgoodman opened #729 "Document header and footer state"
In order to complete https://github.com/18F/myusa/issues/698, https://github.com/18F/myusa/issues/711, https://github.com/18F/myusa/issues/672, we need to document exactly what's in the header and footer at each point. Also @juliaelman has [questions](https://github.com/18F/myusa/issues/723#issuecomment-124534621) that need to be answered.

[2015-07-27 18:13] jackiekazil commented on #729
@esgoodman + @mkhandekar pairing on this.

[2015-07-27 18:14] harrisj commented on #714
I am going to push to lower priority for now while I deal with some other more important bugs. Sorry, @phirefly, but I will let you know when I get back to it.

[2015-07-27 18:22] jackiekazil commented on #698
This ticket will be closed and rewritten by @mkhandekar, so I am assigning back to her. :-)

[2015-07-27 20:55] harrisj commented on #724
Fixed in #727

[2015-07-27 20:55] #724 closed

[2015-07-27 23:47] esgoodman commented on #723
@juliaelman --

1) @meghana has spec'd a new contact form as a modal, so that we don't have to keep track of header/footer state whenever it's called.
2) See #729 -- short answer, "My Dashboard" will read "My Profile" (since we don't have a Dashboard page cued up to code) and "My Profile" links to a user's profile page when logged in. When logged out, there is a sign in/create account button there

[2015-07-28 01:04] harrisj opened #730 "Support zero-downtime key rotation"
While it is currently possible to change the database key by dumping it and reloading with a new key environment variable, this is impossible to do without significant uptime. We really should be better prepared for key rotation, whether in reaction to staff leaving the project or some mandated policy requiring us to change keys every year.

Luckily, @yozlet has found an [excellent primer on how t

[2015-07-28 02:35] harrisj opened #731 "Alternative documentation options for API"
Do we want to keep with Blueprint API-based mechanism we have now?

Some alternatives:
- [Grape](https://github.com/intridea/grape) + [Grape-Swagger](https://github.com/tim-vandecasteele/grape-swagger) + [wine-bouncer](https://github.com/antek-drzewiecki/wine_bouncer)
- [RAML](http://raml.org/docs.html)

Nothing urgent. Just noting it.

[2015-07-28 14:29] juliaelman commented on #723
@esgoodman thanks for answering those! Very helpful :+1:

[2015-07-28 15:20] #725 closed

[2015-07-28 15:27] jackiekazil commented on #723
@esgoodman I am confused -- I thought @juliaelman was creating the contact page during this sprint.
What does it mean to have 'a new contact form as a modal'? (I don't want this to hold up the work for #728.)

[2015-07-28 15:57] mkhandekar commented on #723
@juliaelman, here's a mock up of the contact modal. Since we already have a few variations for the heads and footers, I wanted to simplify the choices for the contact modal. This way it doesn't matter if a visitor is logged in or not. The typography and form design is the same as the Permissions page, and the modal design is same as the help modals on the Permissions page. Let me know if you have

[2015-07-28 16:26] mkhandekar commented on #728
@juliaelman, here's a mock up of the contact modal. Since we already have a few variations for the heads and footers, I wanted to simplify the choices for the contact modal. This way it doesn't matter if a visitor is logged in or not. The typography and form design is the same as the Permissions page, and the modal design is same as the help modals on the Permissions page. Let me know if you have

[2015-07-28 19:30] harrisj opened #732 "Error with Forgotten Redirection"
@leahbannon has identified an issue with MyUSA and Google Oauth when attempting to login to Tock. Basically, if you are logged into Google with an account that is not accepted as a valid user by the remote app (in this case, it's her personal Gmail account, but Tock only accepts specific GSA accounts), the user gets stuck in an annoying feedback cycle where Google automatically logs in the user on

[2015-07-28 21:41] mkhandekar commented on #729
Headers & Footers and their destinations

**Sketch file is on Drive: [15-07-28_HeadersFooters.sketch](https://drive.google.com/open?id=0B4yIa0Upv1JJSWlzUFg1RjRoSjA)**

### 1. Logged out of MyUSA

![header footerstate_1loggedout](https://cloud.githubusercontent.com/assets/1598889/8944313/933d5f64-3545-11e5-9e39-12ebb389afad.png)

**Header**
* About: landing page
* For Developers: [developer docs](h

[2015-07-28 21:43] mkhandekar commented on #723
@juliaelman, and the header & footer states are on issue #729.

[2015-07-28 21:45] mkhandekar commented on #698
About to put up a new issue capturing all the moving parts of the sign in flow. So, closing this one.

[2015-07-28 21:45] #698 closed

[2015-07-28 21:54] juliaelman commented on #729
For "Sign in or Create and Account" there is a reference to "2.1_SignInCreateAccount.png" Which screen is this for?

[2015-07-28 21:56] mkhandekar opened #733 "Collect & display integrator logos in sign in flow"
We have a new header in the sign in flow to communicate to visitors clearly that they are using MyUSA to sign into the integrator they are interacting with. To do this effectively, we need to be able to **collect**, and **display** the integrator logo in the header.

If integrator **has a logo**, display it at same height as the MyUSA logo.

![2 2_signinemail](https://cloud.githubusercontent.com/a

[2015-07-28 22:03] mkhandekar opened #734 "Integrators should be able to specify their app name"
We have a new header in the sign in flow to communicate to visitors clearly that they are using MyUSA to sign into the integrator they are interacting with. To do this effectively, we need to be able to collect and display the integrator logo in the header.

If integrator **doesn’t have a logo**, display the app name in plain text in the same place.

![2 2_signintointegrator_nologo](https://cloud.

[2015-07-28 22:17] mkhandekar opened #735 "Sign in flow — to code"
**Background:**

In the previously handed off sign in flow, there were issues around header & footer consistency, and confusion about the initial sign in screen. Last week the team discussed progress on the sign in flow [on invision](https://invis.io/N83NTICPE). The following will be the canonical screens for the various ways visitors can sign into MyUSA and integrator websites.

**Major changes /

[2015-07-29 01:16] harrisj commented on #733
Looks good. Do we want to enforce any constraints on how big the logo could be?

[2015-07-29 14:45] mkhandekar opened #736 "Sign in flow — sign in from MyUSA"
There are 3 ways to sign in: from MyUSA, from Integrator website using Email, from Integrator website using Google. Each step in the [sign in flow map](https://github.com/18F/myusa-ux/wiki/Sign-in) is numbered, and each screen below is labelled the same corresponding numbers:

![signinflowmap](https://cloud.githubusercontent.com/assets/1598889/8960365/28924f7c-35d5-11e5-8e5b-149dfaa4533b.png)

===

[2015-07-29 14:56] mkhandekar opened #737 "Sign in flow — sign in from Integrator website using email"
There are 3 ways to sign in: from MyUSA, from Integrator website using email, from Integrator website using Google. Each step in the [sign in flow map](https://github.com/18F/myusa-ux/wiki/Sign-in) is numbered, and each screen below is labelled the same corresponding numbers:

![signinflowmap](https://cloud.githubusercontent.com/assets/1598889/8960365/28924f7c-35d5-11e5-8e5b-149dfaa4533b.png)

===

[2015-07-29 15:01] mkhandekar opened #738 "Sign in flow — sign in from Integrator website using Google"
There are 3 ways to sign in: from MyUSA, from Integrator website using email, from Integrator website using Google. Each step in the [sign in flow map](https://github.com/18F/myusa-ux/wiki/Sign-in) is numbered, and each screen below is labelled the same corresponding numbers:

![signinflowmap](https://cloud.githubusercontent.com/assets/1598889/8960365/28924f7c-35d5-11e5-8e5b-149dfaa4533b.png)

===

[2015-07-29 16:34] mkhandekar opened #739 "Sign in flow — permissions"
#### The current permissions page as seen on the [same app](myusa-dummy.18f.gov/auth/myusa):

<img width="581" alt="screen shot 2015-07-28 at 1 33 27 pm" src="https://cloud.githubusercontent.com/assets/1598889/8963283/f1d03412-35e4-11e5-8f11-884736e2c725.png">

#### The permissions page needs to be the following, and new elements include:

* Visitors get the logged-in header on the permissions pag

[2015-07-30 01:48] harrisj opened #740 "Remaining Tasks API bug"
An integrator found the following issue with the Tasks API

* PUT to /api/tasks/:id  - here we have some strange behavior.   Instead of simply adding a sub-task item to the existing task, it also creates a duplicate task with the same id and same sub-tasks.

[2015-07-30 15:09] juliaelman commented on #723
This is pending #741, but am beginning to flesh out the work in advance. Will submit a PR once that work has been reviewed and merged into `devel`

[2015-07-30 18:12] yozlet commented on #728
Should we be asking the user to click again to close the modal after they've sent the message? I wonder if it might be better to have the modal roll up to a small confirmation message while re-enabling the rest of the page.

[2015-07-30 20:37] mkhandekar commented on #617
The last remaining item on this issue was to create a style guide for UI elements. This will be wrapped into the style guide for all of the work that's been done for MyUSA so far. Will reference issue # when created.

Closing this issue in favor of #735 (Sign in flow — to code).

[2015-07-30 20:37] #617 closed

[2015-07-30 21:03] #557 closed

[2015-07-30 21:10] mkhandekar commented on #558
Closing this issue in favor of related issues:

#576: Landing page content & design revamp ([in development here](https://github.com/18F/myusa/issues/723))
#729: Header & Footer states
#735: Sign in flow — to code
#711: Account Management

[2015-07-30 21:10] #558 closed

[2015-07-30 21:38] mkhandekar commented on #435
We explored [on/off sates here](https://github.com/18F/myusa/issues/608#issuecomment-97157970) and have landed on a direction that fared well in usability research on the [permissions screen](https://github.com/18F/myusa/issues/739).

**Permissions - all toggles off**

![4_permissions_off](https://cloud.githubusercontent.com/assets/1598889/8995757/1a26866a-36d9-11e5-8255-8f736d55dcba.png)

**Permi

[2015-07-30 21:38] #435 closed

[2015-07-30 22:07] mkhandekar commented on #647
From the [latest sign in work (#736)](https://github.com/18F/myusa/issues/736):

![](https://cloud.githubusercontent.com/assets/1598889/8945446/0c2aa5c4-354d-11e5-8a95-79109e71524d.png)

[2015-07-30 22:07] #647 closed

[2015-07-30 22:23] mkhandekar commented on #564
Some integrators, such as Open Opportunties and Communicart, need their visitors to be able to sign in with Google. These integrators will have to explicitly request Google as a sign in option. Then Google will appear as the default sign in method.

**See #738 (Sign in flow — sign in from Integrator website using Google) for the full flow**, and key screens are below.

===

##### 2.3 Connect With

[2015-07-30 22:23] #564 closed

[2015-07-30 22:40] mkhandekar opened #743 "Integrators need a way to request Google as a sign in option"
Some integrators, such as Open Opportunties and Communicart, need their visitors to be able to sign in with Google. These integrators will have to explicitly request Google as a sign in option. Then Google will appear as the default sign in method.

**See #738 (Sign in flow — sign in from Integrator website using Google) for the full flow**, and key screens are below.

===

##### 2.3 Connect With

[2015-07-30 22:51] mkhandekar commented on #733
@harrisj Yes! Integrator logo must be constrained to the same height as the MyUSA logo. I've updated the original issue too.

[2015-07-30 23:02] mkhandekar opened #744 "MyUSA style guide"
Create style guide for work done so far.

See for reference:
- [gov wide pattern library](https://pages.18f.gov/govt-wide-patternlibrary/)
- [living style guides](https://usgovdesigners.hackpad.com/Living-Style-Guides-we-3-uu6MvM0EKK2)
- [myuscis style guide](https://github.com/18F/myuscis-style-guide)

[2015-07-30 23:15] jackiekazil commented on #435
Yay!
On Jul 30, 2015 5:38 PM, "Meghana Khandekar" <notifications@github.com>
wrote:

[2015-07-31 01:49] harrisj opened #745 "Add support for implicit OAuth 2.0 signin"
@vzvenyach has requested script access for logging into MyUSA so he can pull data from an authenticated backend. This isn't really feasible to do for the standard Authorization Code Grant Flow, since that requires a browser and an application running on a web server. But there is an alternate Implicit flow that would enable him to log in via OAuth. Here is an example of that code in the OAuth2 gem

[2015-07-31 14:57] jackiekazil opened #746 "Create new back drops for the facebook & twitter accounts"
This is a small thing, but I thought the images on the Facebook and Twitter accounts could use some updates. I took the photo from the redesign front, but it might need some tweets. (If you attach a file to this ticket, I will update.)

Twitter, I updated already, but you can't see the land at the bottom. (I don't know if you need anything in the middle of the image, I will let you make that call.

[2015-07-31 15:37] harrisj opened #747 "Logout should take redirect argument"
Integrator is reporting that logging out with an redirect argument is not following the redirect

[2015-07-31 21:08] harrisj commented on #740
I have not been able to reproduce yet

[2015-08-03 07:16] #728 closed

[2015-08-03 18:23] juliaelman commented on #672
@jackiekazil @esgoodman @mkhandekar should we leave this open or close?

[2015-08-03 18:24] jackiekazil commented on #696
Merged!

[2015-08-03 18:24] #696 closed

[2015-08-03 18:51] juliaelman opened #750 "Create inventory of pages using Bootstrap vs. Bourbon/Neat"
During our Sprint 42 planning meeting I recommended that we create a short document that outlines the pages that are using the old styles (Bootstrap) vs. the new styles (Bourbon/Neat).

[2015-08-03 19:21] jackiekazil opened #751 "508/Accessibly review -- Part I"
Review and create tickets to any pending accessibility/508 issues on the following pages:
- [ ] Contact page
- [ ] Homepage
- [ ] Sign-in flow

Then..
- [ ] Create ticket for Part II for the next round -- should include profile pages and ??

[2015-08-03 19:22] jackiekazil commented on #751
Requires #735 Sign in flow to be done first.

[2015-08-03 19:22] jackiekazil commented on #735
This is a requirement for #751.

[2015-08-03 19:58] esgoodman opened #752 "Test findability of tasks and notifications"
As @mkhandekar works on #711, I will start by testing basic information architecture questions. Can users find...

* tasks and notifications sections (highest priority)
* per-application permissions (secondary priority)

_after_ they have signed into the proposed account management site?

I'll likely be using Treejack, a widely used service for testing site navigation. Preview the study [here](htt

[2015-08-03 19:59] esgoodman commented on #752
Oh, yes -- this will likely be tested inside 18F, with people who have not previously visited the MyUSA account management site.

[2015-08-03 21:13] esgoodman commented on #672
Let's close it. Superceded by #723.

[2015-08-03 22:11] esgoodman opened #753 "Edit sign-in button assets"
The sign-in buttons we provide for integrators still say "Connect with MyUSA." Though research participants did not have much difficulty locating the button in tests, research  also indicates that the word "connect" is less helpful to them than "sign in." Let's keep the basic button style, but change the wording.

[2015-08-03 22:53] jackiekazil commented on #672
:+1:

[2015-08-03 22:53] #672 closed

[2015-08-10 13:42] juliaelman commented on #750
Completed here: https://docs.google.com/document/d/1RpX0d5AK0BVpzmZynnPm2y3IKHDSc_NP2RXIV_W5cTI/edit

[2015-08-10 13:42] #750 closed

[2015-09-14 18:56] gboone commented on #299
I feel like you're all missing an opportunity for a 418 page. I would propose a straight copy of this: https://http.cat/418

[2016-03-07 23:58] #747 closed

[2016-03-18 00:20] yozlet commented on #126
... and now, a year after closing, cruel fate has us (on the C2 team) investigating exactly this problem, and trying to work out _why_ I thought it was closed. It looks like I closed it during a sprint review, and may have got the impression from other team members that it was fixed. But all my reading of the code & specs says it isn't: MyUSA currently _always_ asks the user for missing scopes, be

[2016-04-23 05:18] bhaprayan opened #760 "Cliver dependency issue (for phantomJS) while running test suite"
I tried running the test suite after installation of the platform. However, there were multiple errors. All of them seem to be a dependency issue. Apparently 'Cliver' requires that 'phantomjs' be located in the system path.
![screenshot from 2016-04-23 10-11-23](https://cloud.githubusercontent.com/assets/8630642/14759417/302f03d4-093c-11e6-8278-854c87063f89.png)
(url)
In order to solve this issue,

[2016-07-12 23:01] yozlet opened #762 "Shut down my.usa.gov (MyUSA)"
It's time to send MyUSA to the authentication service farm upstate where it can run around with the other OAuth2 gateways, chase PII and eat all the budget it likes.
# Reasoning

We have too few people and resources to be able to maintain the MyUSA service. The code is gradually bit-rotting due to its reliance on outdated versions of key Ruby gems. As this continues, our ability to safely maintain

[2016-07-12 23:25] jeremiak commented on #762
You can remove Handbook from the list, @yozlet.

The documentation working group has a goal of 8/4 to make the Handbook public and are tracking our progress in 18f/handbook#829

[2016-07-12 23:30] yozlet commented on #762
Thanks @jeremiak! I'll keep Handbook in the list for the moment (since it's still a dependent) but link the issue.

[2016-07-12 23:34] StephenOTT commented on #762
What was the final count of apps and departments that were using MyUSA?

[2016-07-12 23:45] jackiekazil commented on #762
![giphy](https://cloud.githubusercontent.com/assets/166734/16787278/af92843a-4860-11e6-9efe-4f88f1729025.gif)

[2016-07-13 00:05] yozlet commented on #762
@StephenOTT: Five apps, all 18F (though a couple of those were for users outside 18F, but still within government). See the nested list in the issue checklist.

[2016-07-13 00:07] StephenOTT commented on #762
@yozlet ah! haha, I read that list as those were the alternative apps systems could validate against.  Now that i look at the list in more details, that assumption does not make much sense :)

Thanks

[2016-07-13 00:08] yozlet commented on #762
@StephenOTT Yep, sorry if that wasn't clear! Will be providing the list of alternative auth systems shortly.

[2016-07-13 00:10] StephenOTT commented on #762
We offer Govs a OSS equiv + all sorts of additional functionality as MyUSA.  Was just out of curiosity that I wanted to know about the number of users/departments you had managed to trial MyUSA.  Small community :)

[2016-07-13 00:24] yozlet commented on #762
@StephenOTT Oh wow, looks really impressive!

[2016-07-13 00:32] StephenOTT commented on #762
DS website is fairly out of date (especially screenshots), but always happy to share insights and common structures if you guys ever continue work in this space.
We have been doing a lot of work around identity Management, Multiple Identities per citizen (parent-child, power of attorney, Family member, etc) which are validated/supported by one or many assets (government docs or systems) + implemen

[2016-07-13 00:34] yozlet commented on #762
@StephenOTT Thanks! Looks impressive, but this isn't the best place to discuss it. Let's chat elsewhere. :)

[2016-07-14 20:06] pkarman commented on #762
https://docs.cloud.gov/apps/leveraging-authentication/ is good alternative for something like C2 (which is all GSA users)

[2016-07-14 22:32] yozlet commented on #762
Thanks @pkarman! Yep, the current alternative auth methods list looks like this (and I'll keep this comment updated):

## Cloud.gov Auth

[See information here](https://docs.cloud.gov/apps/leveraging-authentication/)

Pros:
- OAuth2
- Can use existing GSA login or add new accounts, can also backend to other existing gov auth systems if needed
- Actively maintained, and very likely to remain so
- A

[2016-07-16 00:18] harrisj commented on #762
I added an item to remove MyUSA from the the data.gov inventory once the AWS instances have been shut down. This is not a difficult process (it just means sending an email and @gbinal or I can handle it), but I wanted to add it to the list.

[2016-09-22 19:02] ric7694 commented on #762
FYI - I'm working with Yoz to shut down MyUSA so may be reaching to folks with questions and asks for help.

[2016-09-27 14:09] ric7694 commented on #762
@yozlet FYI https://github.com/18F/Infrastructure/issues/691

[2016-09-27 14:13] ric7694 commented on #762
@yozlet per guidance from @NoahKunin:
1. Work with Lauren.Pierce@gsa.gov, acting chief privacy officer on SORN
2. Ask her who to connect with for proper PII disposal
- From NK: "...presuming there is an issue. My presumption is that since MyUSA never became the canonical version of anything, we can just delete"

@yozlet I'll reach out to Lauren Pierce.

[2016-10-03 18:22] ric7694 commented on #762
no word from Lauren Pierce yet. Pinged today.

[2016-10-11 18:19] ric7694 commented on #762
still no word from Lauren Pierce. Trying to get info another way through CIO/CTO contacts.

[2016-10-11 18:44] NoahKunin commented on #762
Also pinged.

On Tue, Oct 11, 2016 at 11:19 AM, Ric Miller notifications@github.com
wrote:

##

Noah S. Kunin
Infrastructure Director https://18f.gsa.gov/team/noah/ | Technology
Transformation Service http://www.gsa.gov/portal/category/25729

[2016-10-12 22:25] NoahKunin commented on #762
Adding note to redirect my.usa.gov to login.gov once this is done.

[2016-10-14 00:14] yozlet commented on #762
@NoahKunin Good idea - in that case, I'll take out the gravestone landing page.

[2016-10-21 18:21] yozlet commented on #762
Open Opps's recent security incident has caused them to shut down MyUSA access. However, I'm not ticking them off the list just yet because they may still need access to the MyUSA data in order to retain access to those accounts. I'm planning on talking to their team about it.

[2016-10-25 15:35] ric7694 commented on #762
guidance from Lauren Pierce. will review NARA guidance and work with @yozlet on next steps.

_Since this is just profile data for users of a system/website not involving classified data, then the profile data can be destroyed when there is no longer a business case to keep it. The disposition authority is GRS 3.2/030. GRS stands for the NARA General Records Schedule that can be referenced here: (h

[2016-10-25 18:22] NoahKunin commented on #762
Great! Since the system is no longer ours (OPM), I'm going to set a
deadline of 10/31 on this before we "tick them off". No OPM users had MyUSA
after all.

On Fri, Oct 21, 2016 at 2:21 PM, Yoz Grahame notifications@github.com
wrote:

##

Noah S. Kunin
Infrastructure Director https://18f.gsa.gov/team/noah/ | Technology
Transformation Service http://www.gsa.gov/portal/category/25729

[2016-11-14 19:57] ric7694 commented on #762
_updating issue based on past convos w/ @yozlet . sorry it took so long_

I spoke with Navin and Pranjali Desai re: who is responsible for records archiving and destruction. Program office is responsible.

I also reviewed General Records Schedule Section 3.1, and 3.2 - specifically item 3.2/030 - along with the accompanying disposition authority DAA-GRS-2013-0006-0003. I think we need to:

Under 3

[2016-11-15 18:20] yozlet commented on #762
@ric7694 Thanks for this. Extracting the data from the database - in a single mostly-encrypted big blob - is pretty easy. However, I'm not sure where or how we should store it. I'm _guessing_ that creating an S3 bucket in GovCloud with an additional explanatory `README` file is a start, along with pointers from various places (such as this issue) should we somehow ever need to find it again.

@Noa

[2016-11-15 19:21] yozlet commented on #762
App switch updates:
- I met with folks from **Open Opportunities** and confirmed that the accounts affected by the deactivation of their MyUSA integration are still accessible without needing any more from MyUSA. 👍
- **C2** has switched their production site to cloud.gov authentication. I'm currently creating a new 18F-only C2 site that is still using MyUSA during the testing phase, but it should

[2016-11-15 19:26] yozlet commented on #762
@ric7694 I _assume_ that the "system development records, configuration records and change management records" discussed in 3.1 (2) basically consist of this GitHub repo. (My previous comment about The Big Database Blob is in answer to 3.2 (1), though that might also need log file storage, which would need to be retrieved from cloud.gov.

[2016-11-15 19:46] ric7694 commented on #762
@yozlet yep, I think that's a reasonable interpretation/assumption of "system development records, configuration records, and change management records." I also think that google docs and other work-product falls w/in those buckets.

My question at this point - for all of us to engage on - is which _records_ housed in GitHub (as part of an open source project) should be destroyed vs. which ones sh

[2016-11-17 01:41] konklone commented on #762
Yeah, I don't think we should destroy our GitHub repositories and documentation after 5 years. It's certainly possible we could archive this repository (and other unused ones) in some way, but if we did that it should be a public archive. The easiest thing to do is leave this repository as is and mark it as deprecated or inactive in its description.

[2016-11-17 02:20] NoahKunin commented on #762
@konklone beat me to it. ^^ is what we do for now. Record retention policies set _floors_ for us in this regard. Not ceilings.

Conversely, we treat user data the opposite way. We try to destroy or ideally avoid the collection of private data to begin with, as much as possible.

[2016-11-17 02:22] NoahKunin commented on #762
Also, HUGE CONGRATS to @yozlet @ric7694 @harrisj and anyone else who worked on this. Huge effort.

Let's get my.usa.gov (presuming this will need a GSA IT Service Desk ticket) redirecting to login.gov and get this issue closed!

[2016-11-17 22:29] yozlet commented on #762
Adding detail on the SORN conversation - this from @jpyuda:

I am thus ticking off the SORN item from the pre-shutdown checklist, which means that all the pre-shutdown items are now done.

Next step: Formal decommissioning. Adding @NoahKunin and @jezhumble here since they have the required form(s).

[2016-11-30 23:40] yozlet commented on #762
Regarding Data.gov: Link to MyUSA from "Developers" page removed, and MyUSA Citizen API will be removed by Cindy Smith from the Data Catalog tomorrow.

[2016-12-02 15:29] wslack commented on #762
The decommissioning from has been signed and transmitted.

[2016-12-06 22:29] yozlet commented on #762
@NoahKunin So, just to absolutely clarify plans for the **user** data, which is stored as a big mostly-encrypted MySQL snapshot, which of these is best?

1. Delete it all, ASAP
2. Store the MySQL snapshot in S3 somewhere _(**addendum**: There is also a `MyUSA` folder in Google Drive that might be a good home for this)_, with a README, but don't worry about the decryption key; put a "delete that bu

[2016-12-07 15:36] NoahKunin commented on #762
As per the Privacy Officer at the time, delete it.

But now I'm a little confused, what do you mean by "mostly" encrypted? My understanding was that profile data was encrypted at the row level.

[2016-12-07 18:58] yozlet commented on #762
AFAIK (and I can double-check this if needed) the user's email address was not encrypted, whereas all other PII fields (incl. first & last name, etc.) were.

[2016-12-07 19:13] pkarman commented on #762
If the app uses Devise and there was no additional encryption work done, then yes, the email is stored in plain text. We just had to solve that problem for login.gov.

[2016-12-07 20:05] yozlet commented on #762
The draft **MyUSA Infrastructure removal audit** document is now on GSA Google Drive, and that is what it's called so you can search for it (because I _think_ I shouldn't be directly linking to it from here, but maybe I'm wrong), and I would greatly appreciate folks in this thread giving it a quick scan (it's very short) and thinking about whether I've missed anything.

[2016-12-08 17:45] NoahKunin commented on #762
Aware of the email not being encrypted, that's fine. It was the term "mostly" that threw me off. Either it's a blob or it's in a structured filed, it's either encrypted or it's not. No worries there.

No comments on the doc. Links to GSA Google Docs are fine in public places, it just means you'll occasionally get weird people / strangers potentially asking for access. Obviously, don't give it to t

[2016-12-28 02:10] fureigh opened #763 "Update README to reflect that this service is deprecated"
The repo tagline too, probably. :)

A follow-on task to #762.

[2016-12-28 21:55] yozlet commented on #763
Good point!

[2016-12-28 22:10] yozlet commented on #763
Done! Thanks for the suggestion!

[2016-12-28 22:10] #763 closed, assigned to yozlet